<form autocomplete='off'>
  <ul>
  {{#each conditions}}
    <li>
      <label>
        <input type='checkbox' name='conditions.{{@key}}' {{checked @root.defaultEnd}}>
        <img src='{{img}}'>
        <span class='label'>{{localize label}}</span>
      </label>
    </li>
  {{/each}}
  </ul>
</form>
