.dialog.rest-end form ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-flow: row;
	gap: 3px;

	justify-content: center;

	margin-bottom: 0.5em;
}

.dialog.rest-end form ul > li {
	flex: 0 32%;

	display: inline-flex;
	flex-flow: row nowrap;

	border: 1px solid var(--color-border-light-2);
	border-radius: 0 5px 5px 0;
}

.dialog.rest-end form ul > li label {
	white-space: nowrap;
	display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3em;
}

.dialog.rest-end form ul > li input {
	display: none;
}

.dialog.rest-end form ul > li img {
	height: 32px;
	width: 32px;
	flex: 0 32px;
	opacity: 0.4;
}

.dialog.rest-end form ul > li span {
	opacity: 0.6;
	overflow: hidden;
  text-overflow: ellipsis;
}

.dialog.rest-end form ul > li input:checked ~ * {
	opacity: 1;
}
