.sheet.pf1.actor .tab.spellbook {
	& .item-list .item.need-spontaneous-casting .spontaneous-substitution:hover .substitute-casting {
		text-shadow:
			0 0 15px goldenrod,
			0 0 5px rgb(255, 166, 0),
			0 0 1px black;
		color: white;
	}

	& .spontaneous-casting-config {
		margin-top: 0.3rem;
		padding: 0.3em;
		border: 1px solid #9f9c97;
		border-radius: 0.5em;

		& input[type='checkbox'] {
			flex: 0 16px;
			width: 16px;
			height: 16px;
			line-height: 1;
		}

		& input[type='text'] {
			background-color: rgba(0, 0, 0, 0.05);
			border: 1px solid #0000003b;
		}

		& label {
			flex: 1;
			white-space: nowrap;
		}

		& .flexrow {
			align-items: center;
			gap: 0.1rem;
		}

		& .flexrow.setting {
			flex-wrap: nowrap;
			flex: 1 40%;
			gap: 0.5em;
		}

		& .flexrow.match-setting {
			flex-wrap: nowrap;
			flex: 1 100%;
			gap: 0.5em;
		}

		& :is(.test-result, .flexrow.match-setting label) {
			flex: 0;
		}

		& .hint.warning {
			flex: 1 100%;
			padding: 0.3em 0.7em;
			background-color: #ff00000f;
			border-radius: 5px;
			border: 1px solid #b59898;
		}
	}
}

/* Substitution Dialog */

.app.form.pf1-spontaneous-casting.spell-substitution {
	min-width: 16rem;

	& form {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;

		& :is(.spell, .book, .levels .level-selection) {
			gap: 0.3rem;
			width: 100%;
			align-content: center;
			justify-content: center;
			flex-flow: nowrap;
			margin: 0;
			padding: 0;
			flex: 0;
		}

		& :is(.spell .name, .book .name, .levels .label) {
			flex: 1;
			white-space: nowrap;
		}

		& :is(.book .name, .slots .remaining) {
			font-weight: bold;
		}

		& .spell .spell-icon {
			flex: 0;
			width: 24px;
			height: 24px;
		}

		& :is(.hint, .book .id, .spell .level) {
			flex: 0;
			white-space: nowrap;
			font-size: var(--font-size-11, 8pt);
		}

		& .hint {
			margin: 0;
			padding: 0;
		}

		& .levels .slots {
			flex: 0;
			white-space: nowrap;
		}

		& :is(.levels, .spell-selection) {
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			/*gap: 0.3rem;*/
		}

		& input[type='radio'] {
			margin: 0;
		}

		& :is(.spell-selection input[type='radio'], .levels input[type='radio'], .levels .level-selection h4) {
			flex: 0;
		}

		& li > label {
			display: flex;
			gap: 0 0.3em;
			align-items: baseline;
		}

		& .levels :is(.spell-selection .spell, .level-selection) {
			padding: 0.2rem 0.3rem;
		}

		& .levels :is(.spell-selection .spell:hover, .level-selection.level-choice:hover) {
			background-color: #ffbd7147;
			box-shadow: 0 0 5px darkgoldenrod;
			border-radius: 5px;
		}

		& .levels.prepared .level-selection {
			flex-flow: column;
		}

		& hr {
			width: 80%;
			flex: 0;
			margin-top: 0;
			margin-bottom: 0;
		}

		& .levels .level-selection h4 {
			margin: 0;
			padding: 0;
		}
	}
}

/* Item Sheet */

.app.sheet.pf1.item {
	& .spontaneous-casting label {
		display: flex;
		flex-flow: row;
	}

	& .spontaneous-casting input[type='checkbox'] {
		flex: 0 16px;
	}

	& .spontaneous-casting-hint {
		flex: 1 100%;
		margin: 0 0 0.7rem 2rem;
	}
}

/* Chat Message */
.chat-message[data-message-id] .spell-substitution {
	& .substitution-message {
		line-height: 1.2;
		margin: 0;
	}

	& .spell-level {
		font-size: 7pt;
		vertical-align: super;
	}

	& .spell-level:before {
		content: '[';
	}

	& .spell-level:after {
		content: ']';
	}

	& .spell-name {
		color: red;
		/*text-shadow: 0 0 3px coral;*/
	}

	& .spell-name.spell-target {
		color: darkslateblue;
	}

	& .spell-name.spell-sacrifice {
		color: dimgray;
	}

	&.cancelled {
		text-decoration: line-through;
	}
}
