.app.form.mkah-pf1-alt-token-hp-bar .form-fields label {
	flex: 1 6em;
	text-align: left;
}

.app.form.mkah-pf1-alt-token-hp-bar .form-fields input[type='text'] {
	flex: 0 6em;
}

.app.form.mkah-pf1-alt-token-hp-bar .form-fields input[type='color'] {
	flex: 0 4em;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview {
	position: relative;
	display: block;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health {
	display: flex;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.background {
	width: 100%;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.background,
.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.missing {
	align-items: center;
	position: relative;
	height: 18px;
	border: 1px solid black;
	border-radius: 5px;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.temp {
	height: 8px;
	border-radius: 2px;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.missing {
	width: 100%;
	align-items: center;
	height: 14px;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.background {
	background-color: var(--alt-hp-background);
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.missing {
	background-color: var(--alt-hp-missing);
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.remaining {
	background-color: yellow;
	height: 14px;
	border-radius: 3px;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.temp {
	background-color: var(--alt-hp-temp);
	position: absolute;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview health.dying {
	background-color: var(--alt-hp-dying);
	height: 6px;
	right: 2px;
	position: absolute;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview.normal health.remaining {
	width: 100%;
	background-color: var(--alt-hp-full);
}

.app.form.mkah-pf1-alt-token-hp-bar
	.examples
	.preview.high-health
	health.remaining {
	width: 72%;
	background-color: var(--alt-hp-high);
}

.app.form.mkah-pf1-alt-token-hp-bar
	.examples
	.preview.low-health
	health.remaining {
	width: 17%;
	background-color: var(--alt-hp-low);
}

.app.form.mkah-pf1-alt-token-hp-bar
	.examples
	.preview.high-health
	health.missing {
	width: 82%;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview.high-health health.temp {
	width: calc(50% - 5px);
	left: calc(72% + 3px);
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview.low-health health.temp {
	width: 12%;
	left: calc(17% + 3px);
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview.clinging health.temp {
	width: 11%;
	left: 3px;
}

.app.form.mkah-pf1-alt-token-hp-bar .examples .preview.dying health.dying {
	width: 22%;
}
