<form autocomplete='off'>
	<div class='config'>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Background</label>
				<input type='text' name='background'>
				<input type='color' name='background'>
			</div>
		</div>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Healthy</label>
				<input type='text' name='healthy'>
				<input type='color' name='healthy'>
			</div>
		</div>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Bloodied</label>
				<input type='text' name='bloodied'>
				<input type='color' name='bloodied'>
			</div>
		</div>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Wounded</label>
				<input type='text' name='wounded'>
				<input type='color' name='wounded'>
			</div>
		</div>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Missing</label>
				<input type='text' name='missing'>
				<input type='color' name='missing'>
			</div>
		</div>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Temp</label>
				<input type='text' name='temp'>
				<input type='color' name='temp'>
			</div>
		</div>
		<div class='form-group'>
			<div class='form-fields'>
				<label>Dying</label>
				<input type='text' name='dying'>
				<input type='color' name='dying'>
			</div>
		</div>
	</div>

	<h2>Examples</h2>
	<div class='examples'>
		{{!-- Normal Health --}}
		<div class='preview normal'>
			<health class='background'>
				<health class='missing'>
					<health class='remaining'></health>
					<health class='temp'></health>
				</health>
			</health>
		</div>
		{{!-- Fairly Good Health --}}
		<div class='preview high-health'>
			<health class='background'>
				<health class='missing'>
					<health class='remaining'></health>
					<health class='temp'></health>
				</health>
			</health>
		</div>
		{{!-- Low Health --}}
		<div class='preview low-health'>
			<health class='background'>
				<health class='missing'>
					<health class='remaining'></health>
					<health class='temp'></health>
				</health>
			</health>
		</div>
		{{!-- Clinging to Life --}}
		<div class='preview clinging'>
			<health class='background'>
				<health class='missing'>
					<health class='temp'></health>
				</health>
			</health>
		</div>
		{{!-- Dying --}}
		<div class='preview dying'>
			<health class='background'>
				<health class='missing'>
					<!-- <health class='remaining'></health> -->
					<!-- <health class='temp'></health> -->
					<health class='dying'></health>
				</health>
			</health>
		</div>
	</div>
</form>
