#token-hud.placeable-hud .pf1-enhanced-hud {
	position: absolute;

	right: 72px;
	bottom: 20px;
	/*height: 50px;*/

	display: flex;
	flex-flow: row;
	justify-content: center;

	gap: 4px;
}

#token-hud.placeable-hud .pf1-enhanced-hud .control-icon {
	margin: 2px 0;
	position: relative;

	flex: 0 0 40px;

	height: 66px;
}

#token-hud.placeable-hud .pf1-enhanced-hud .control-icon > .value {
	color: gold;
	text-shadow: 0 0 1px goldenrod;
	position: relative;
	top: -10px;
	font-size: var(--font-size-18);
}

#token-hud.placeable-hud .pf1-enhanced-hud .control-icon:is(.normal-armor,.touch-armor,.maneuver-defense) > .value {
	color: steelblue;
	text-shadow: 0 0 1px skyblue;
}

#token-hud.placeable-hud .pf1-enhanced-hud .control-icon.dex-denied > .value {
	color: orangered;
	text-shadow: 0 0 1px red;
}

#token-hud.placeable-hud .pf1-enhanced-hud .control-icon > * {
	pointer-events: none;
}

#token-hud.placeable-hud .pf1-enhanced-hud .control-icon.dex-denied {
	margin: 2px 6px;
}

.app.dialog.pf1-eth.get-number input {
	font-size: var(--font-size-20);
	text-align: center;
}
