<fieldset class='spontaneous-casting-config'>
	<legend><i class='fas fa-puzzle-piece'></i> {{localize 'SpellSubstitution.Title'}}</legend>

	<div class='settings flexrow'>
		{{#if canUse}}
		<div class='flexrow setting'>
			<label>
			  <input data-setting='enabled' type='checkbox' data-dtype='Boolean' name='flags.{{module}}.config.{{book}}.enabled' {{checked config.enabled}}>
        {{localize 'SpellSubstitution.Book.Enabled'}}
      </label>
		</div>
		<div class='flexrow setting'>
			<label>
			  <input data-setting='domain' type='checkbox' data-dtype='Boolean' name='flags.{{module}}.config.{{book}}.domain' {{checked config.domain}}>
        {{localize 'SpellSubstitution.Book.Cast.Domain'}}
      </label>
		</div>
		<div class='flexrow setting' data-tooltip='Allow '>
			<label>
			  <input data-setting='marked' type='checkbox' data-dtype='Boolean' name='flags.{{module}}.config.{{book}}.marked' {{checked config.marked}}>
        {{localize 'SpellSubstitution.Book.Cast.Marked'}}
      </label>
		</div>
		<div class='flexrow setting' data-tooltip='Allow any spell to be cast.'>
			<label>
			  <input data-setting='any' type='checkbox' data-dtype='Boolean' name='flags.{{module}}.config.{{book}}.any' {{checked config.any}}>
        {{localize 'SpellSubstitution.Book.Cast.Any'}}
      </label>
		</div>
		<div class='flexrow match-setting'>
			<label for='spontaneous-casting-{{book}}-match'>{{localize 'SpellSubstitution.Book.Cast.Matched'}}</label>
			<input list='{{uuid}}-spontaneous-casting-regexp-examples' data-setting='match' id='spontaneous-casting-{{book}}-match' type='text' data-dtype='String' name='flags.{{module}}.config.{{book}}.match' value='{{config.match}}'
				placeholder='{{localize 'SpellSubstitution.Book.Cast.MatchedHint'}}' class='regexp-match'>
			{{#if config.match}}
			{{#if validRE}}<i class='far fa-check-circle test-result valid'></i>{{else}}<i class='fas fa-times-circle test-result invalid'></i>{{/if}}
			{{/if}}
		</div>
		{{else}}
		<p class='hint warning'>{{localize 'SpellSubstitution.Book.Unsupported'}}</p>
		{{/if}}
	</div>
</fieldset>
<datalist id='{{uuid}}-spontaneous-casting-regexp-examples'>

</datalist>
