<div class='flexcol spell-substitution'>
	<p class='substitution-message'>
		{{localize 'SpellSubstitution.Card.Sacrifice'}}
		{{#if isSpontaneous}}
    {{{localize "SpellSubstitution.Card.SacrificedLevelSlot" level=consumeLevelLabel}}}
		{{else}}
		<span class='spell-name spell-sacrifice'>{{{sacrificeLink}}}</span> <span class='spell-level'>{{sacrifice.level}}</span>
		{{/if}}
		<br>
		{{localize 'SpellSubstitution.Card.For'}} <span class='spell-name spell-target'>{{{spellLink}}}</span> <span class='spell-level'>{{spell.level}}</span>
	</p>
</div>
