<form autocomplete='off' class='flexcol'>
	<h2 class='spell flexrow'>
		<img class='spell-icon' src='{{spell.img}}'>
		<span class='name'>{{spell.name}}</span>
		<span class='level'>SL {{spell.level}}</span>
	</h2>
	<h3 class='book flexrow'>
		<span class='name'>{{book.name}}</span>
		<span class='id'>[{{book.id}}]</span>
	</h3>
	{{#if book.isSpontaneous}}
	<p class='hint'>{{localize 'SpellSubstitution.Dialog.AvailableLevels'}}</p>
	<ul class='spontaneous levels flexcol'>
		{{#each levels}}
		<li class='level-choice level-selection flexrow'>
			<label class='flexrow'>
			  <input type='radio' data-dtype='Number' value='{{level}}' name='level'>
				<span class='label'>{{localize 'SpellSubstitution.Dialog.Level' level=level}}</span>
				<span class='slots'>( <span class='remaining'>{{value}}</span> / <span class='max'>{{max}}</span> )</span>
			</label>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<p class='hint'>{{localize 'SpellSubstitution.Dialog.AvailableLevels'}}</p>
	<ul class='prepared levels flexcol'>
	{{#each levels}}
		<li class='level-selection flexcol'>
			<h4 class='label'>{{localize 'SpellSubstitution.Dialog.Level' level=level}}</h4>
			<ul class='spell-selection'>
			{{#each spells}}
				{{#if (and (ne id @root.spell.id) (gt charges 0) available)}}
				<li data-item-id="{{id}}" class='item spell flexrow'>
					<label>
					  <input type='radio' data-dtype='String' name='spell' value='{{id}}'>
            <span class='name'>{{name}}</span>
            {{#if domain}}
            <i class="fa-solid fa-hand-sparkles fa-fw domain"></i>
            {{/if}}
					  <span class='slots'>( <span class='remaining'>{{charges}}</span> / <span class='max'>{{maxCharges}}</span> )</span>
          </label>
				</li>
				{{/if}}
			{{/each}}
			</ul>
		</li>
	{{/each}}
	</ul>
	{{/if}}

	<hr>

	<div class='buttons'>
		<button type='submit' class='cast'><i class='fas fa-magic'></i> {{localize 'SpellSubstitution.Dialog.Submit'}}</button>
	</div>
</form>
