#chat-controls.rollmode-buttons-override {
	gap: 0.5em;
	margin-top: 1px;
	margin-bottom: 2px;
}

#chat-controls .rollmode-buttons {
	display: flex;
	flex-direction: row;
	align-self: center;
	gap: 2px;
}

#chat-controls .rollmode-buttons button {
	background: unset;

	line-height: unset;
	border: 1px solid;
	padding: 0.1em 0;
	margin: 0;
}

#chat-controls .rollmode-buttons button:hover {
	box-shadow: unset;
}

#chat-controls .rollmode-buttons button[data-rollmode='publicroll'] {
	background-color: #afc99d;
}

#chat-controls .rollmode-buttons button[data-rollmode='publicroll'].active {
	/*background-color: #98d171;*/
	background-color: #95e55e;
}

#chat-controls .rollmode-buttons button[data-rollmode='publicroll']:hover {
	background-color: #83dd29;
	border-color: #00ff0f;
	text-shadow: 0 0 1px #00a100;
	box-shadow: 0 0 3px yellow;
	/* background: unset; */
}

#chat-controls .rollmode-buttons button:not(.active) {
	color: #323;
}

#chat-controls .rollmode-buttons button:hover {
	color: black;
}

#chat-controls .rollmode-buttons button[data-rollmode='gmroll'] {
	background-color: #cdc491;
}

#chat-controls .rollmode-buttons button[data-rollmode='gmroll'].active {
	/*background-color: #dfcb55;*/
	background-color: #e7c531;
}

#chat-controls .rollmode-buttons button[data-rollmode='gmroll']:hover {
	background-color: #e3ad00;
	border-color: #ffb800;
	box-shadow: 0 0 3px yellow;
}

#chat-controls .rollmode-buttons button[data-rollmode='blindroll'] {
	background-color: #b7bfe5;
}

#chat-controls .rollmode-buttons button[data-rollmode='blindroll'].active {
	/*background-color: #8f9fe7;*/
	background-color: #7489e7;
}

#chat-controls .rollmode-buttons button[data-rollmode='blindroll']:hover {
	background-color: #5d6dff;
	border-color: #1e44eb;
	text-shadow: 0 0 1px #68ffde;
	box-shadow: 0 0 3px #008cff;
}

#chat-controls .rollmode-buttons button[data-rollmode='selfroll'] {
	background-color: #c99786;
}

#chat-controls .rollmode-buttons button[data-rollmode='selfroll'].active {
	/*background-color: #eb7248;*/
	background-color: #e75c2b;
}

#chat-controls .rollmode-buttons button[data-rollmode='selfroll']:hover {
	background-color: #e52924;
	border-color: #9d1d1d;
	text-shadow: 0 0 1px #eb7c27;
	box-shadow: 0 0 3px #ff3800;
}

#chat-controls .rollmode-buttons button i.fas {
	line-height: unset;
}
