<fieldset class='inherit-folder-permissions'>
	<summary><i class='fa-solid fa-puzzle-piece'></i> {{localize 'InheritFolderPermissions.FolderConfig.Title'}}</summary>
	<div class='inherit-toggle'>
		<input type='checkbox' id='folder-edit-{{folderId}}-inherit-folder-permissions' {{checked inherit}}>
		<label for='folder-edit-{{folderId}}-inherit-folder-permissions'>{{localize 'InheritFolderPermissions.FolderConfig.Toggle'}}</label>
	</div>
	<button type='button' class='edit-inherited-permissions' {{#unless inherit}}disabled{{/unless}}>{{localize 'InheritFolderPermissions.FolderConfig.Edit'}}</button>
</fieldset>
