<form autocomplete='off'>
	<ul>
		{{!-- Header --}}
		<li class='header'>
			<h3 class='name'>{{localize 'USERS.UserName'}}</h3>
			<h3 class='perm'>{{localize 'PERMISSION.Permission'}}</h3>
		</li>

		{{!-- Default --}}
		<li data-user-id='default'>
			<h4 class='name'>{{localize 'Default'}}</h4>
			<select class='perm' data-dtype='Number' name='flags.inherit-folder-permissions.permissions.default.level'>
				{{selectOptions permissions selected=defaultUser.level}}
			</select>
		</li>

		{{!-- Users --}}
		{{#if (gt count 0)}}
		<hr>
		{{#each users as |data uid|}}
		<li data-user-id='{{uid}}'>
			<h4 class='name'>{{#if user}}{{user.name}}{{else}}{{uid}}{{/if}}</h4>
			<select class='perm' data-dtype='Number' name='flags.inherit-folder-permissions.permissions.{{uid}}.level'>
				{{selectOptions @root.permissions selected=level}}
			</select>
		</li>
		{{/each}}
		{{/if}}
	</ul>
	<hr>
	<div class='buttons'>
		<button type='submit'>{{localize 'Save'}}</button>
		<button type='reset'>{{localize 'Reset'}}</button>
	</div>
</form>
