.app.sheet.folder-edit {
	/* fix dialog height*/
	height: min-content !important;
}

.app.sheet.folder-edit .inherit-folder-permissions,
.app.sheet.folder-edit .inherit-folder-permissions .inherit-toggle {
	display: flex;
	gap: 0.3rem;
	align-items: center;
}

.app.sheet.folder-edit .inherit-folder-permissions {
	padding: 0.3rem;
	flex-direction: row;
	flex-flow: wrap;
}

.app.sheet.folder-edit .inherit-folder-permissions summary {
	align-self: normal;
	flex: 1 100%;
}

.app.sheet.folder-edit .inherit-folder-permissions button {
	flex: 1;
}

.app.sheet.folder-edit .inherit-folder-permissions button:disabled {
	color: gray;
}

.app.sheet.folder-edit .inherit-folder-permissions .inherit-toggle {
	flex: 1;
	gap: 0.2rem;
}

.app.sheet.folder-edit .inherit-folder-permissions .inherit-toggle input {
	flex: 0 24px;
}

.app.sheet.folder-edit .inherit-folder-permissions .inherit-toggle label {
	flex: 1;
	white-space: nowrap;
}

.app.sheet.inherit-folder-permissions.inheritance-control form {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.app.sheet.inherit-folder-permissions.inheritance-control form .buttons {
	display: flex;
	flex-direction: row;
	gap: 0.3em;
}

.app.sheet.inherit-folder-permissions.inheritance-control form > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: min-content;
	gap: 0;
}

.app.sheet.inherit-folder-permissions.inheritance-control form > ul > li {
	display: contents;
}

.app.sheet.inherit-folder-permissions.inheritance-control
	form
	> ul
	li:nth-child(2n + 1)
	> .name,
.app.sheet.inherit-folder-permissions.inheritance-control
	form
	> ul
	li:nth-child(2n + 1)
	> .perm {
	background-color: rgba(0, 0, 0, 0.05);
}

.app.sheet.inherit-folder-permissions.inheritance-control
	form
	> ul
	> li.header
	> .name,
.app.sheet.inherit-folder-permissions.inheritance-control
	form
	> ul
	> li.header
	> .perm {
	background-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
}

.app.sheet.inherit-folder-permissions.inheritance-control form > ul > li .name,
.app.sheet.inherit-folder-permissions.inheritance-control form > ul > li .perm {
	align-self: center;
	white-space: nowrap;
	margin: 0;
	padding: 0.1em 0.3em;
	height: 1.5em;
}

.app.sheet.inherit-folder-permissions.inheritance-control form > ul > li .perm {
}

.app.sheet.inherit-folder-permissions.inheritance-control form > ul hr {
	grid-column: span 2;
	margin: 3px;
	padding: 0;
}

.app.sheet.inherit-folder-permissions.inheritance-control form > hr,
.app.sheet.inherit-folder-permissions.inheritance-control form > ul > li > h4,
.app.sheet.inherit-folder-permissions.inheritance-control
	form
	> ul
	> li
	> select.perm {
	margin: 2px;
}
