body > aside.action-quick-selection {
	position: fixed;
	z-index: calc(var(--z-index-tooltip) + 1);
	opacity: 0;

	transition: opacity 250ms ease;

	display: flex;
	flex-direction: column;
	min-width: 12em;

	padding: 0.3em 0.5em;

	border: 2px solid black;
	/*background-color: #d5d0c5;*/
	background: url(../../ui/parchment.jpg) repeat;

	border-radius: 0.5em;
	border-bottom-right-radius: 0;

	color: black;
}

body > aside.action-quick-selection:hover:not(.fading){
	opacity: 1;
}

body > aside.action-quick-selection.fading {
	opacity: 0;
	pointer-events: none;
	z-index: calc(var(--z-index-tooltip) - 1);
}

body > aside.action-quick-selection h2 {
	font-size: var(--font-size-16, 12pt);
	text-align: center;
	font-weight: bold;
}

body > aside.action-quick-selection .action-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 24px 1fr;
	grid-template-rows: min-content;
	row-gap: 3px;

	align-items: center;
}

body > aside.action-quick-selection .action-list .span-2 {
	grid-column: span 2;
}

body > aside.action-quick-selection .action-list hr {
	margin: 0;
}

body > aside.action-quick-selection .action-list > .action {
	display: contents;
}

body > aside.action-quick-selection	.action-list > .action > span {
	display: inline-flex;
	/*line-height: 1.5;*/
	/*height: 100%;*/
	height: 100%;
	align-items: center;
}

body > aside.action-quick-selection	.action-list > .action > span:not(.image) {
	padding: 0.1rem 0.5rem;
	font-size: var(--font-size-14, 10pt);
}

body > aside.action-quick-selection .action-list > .action:hover > span {
	background-color: #dd7e7e3d;
	font-weight: bold;
}

body > aside.action-quick-selection	.action-list > .action:hover > span > img {
	filter: brightness(1.5);
	pointer-events: none;
}

body > aside.action-quick-selection	.action-list > .action > span > img {
	width: 24px;
	height: 24px;
}
