.app.item.sheet.pf1 {
	& header {
		& .build-points {
			flex-flow: row nowrap;

			& input {
				border: none;
				padding: 0 0.3rem;
			}

			& .total {
				white-space: nowrap;
			}
		}
	}
}

.app.actor.sheet.pf1 {
	& .tab.summary {
		position: relative;

		& .build-points {
			display: flex;
			gap: 0 3px;

			font-size: var(--font-size-14);

			position: absolute;
			top: 0;
			left: 0;

			border: 1px solid #958585;
			background: #efdcbf;

			padding: 1px 5px 1px 3px;
			border-radius: 0 0 0.5rem 0;

			& > label {
				font-weight: bold;
			}
		}
	}

	& .tab.features {
		& .extra-feats {
			& .build-points {
				flex: 0;
				flex-flow: row nowrap;
				white-space: nowrap;

				border: 1px solid #958585;
				border-radius: 5px;

				background: #efdcbf;
				padding: 0 7px;

				& > label {
					font-weight: bold;
				}
			}
		}

		& .koboldworks.item-hints {
			& .hint.build-points {
				color: black;
				background-color: #e5d5aa;
			}
		}
	}
}

#tooltip.build-points-details {
	text-align: left;

	font-size: var(--font-size-12);

	border-color: goldenrod;
	border-radius: 5px;

	& .cost {
		color: gold;

		&::before {
			content: '(';
			color: white;
		}
		&::after {
			content: ' BP)';
			color: white;
		}
	}
}

.actor.sheet.build-point-tracker {
	min-width: 580px;
	min-height: 280px;

	& form {
		& .actor-list {
			list-style: none;
			margin: 0;
			padding: 0;

			display: flex;
			flex-flow: column nowrap;
			gap: 3px;

			& li {
				display: flex;
				flex-flow: row nowrap;
				gap: 0.3rem;

				align-items: anchor-center;

				& > * {
					padding: 0 5px;
				}

				& > .portrait {
					flex: 0 48px;
					width: 48px;
					height: 48px;
				}

				&.header {
					background-color: #a1cfa1;
					font-weight: bold;
					line-height: 2;

					& > .portrait {
						height: unset;
					}
				}

				& .name {
					flex: 1;
					&h3 {
						font-size: var(--font-size-20);
					}
					border: unset;
					margin: 0;
					padding: 0;
					line-height: unset;
				}

				& :is(.points, .items) {
					flex: 0 6rem;
					text-align: center;
					font-size: var(--font-size-20);
				}

				& .controls {
					flex: 0 4rem;

					font-size: var(--font-size-16);

					display: flex;
					justify-content: space-evenly;

					text-align: center;
				}

				&.header {
					& > * {
						font-size: var(--font-size-14);
					}
				}
			}
		}
	}
}
