<h3 class='form-header {{css}}'><i class="fas fa-puzzle-piece"></i> {{localize 'ResourceDrain.Title'}} 🪫</h3>
<div class='form-group {{css}}'>
	<label>{{localize 'ResourceDrain.Resource'}}</label>
	<div class='form-fields'>
		<select class='resource-drain-target'>
			<option value='' class='no-selection'>{{localize 'ResourceDrain.NoSelection'}}</option>
			{{#select drainTarget}}
			{{#each drainTargets}} 
			<optgroup label='{{localize label}}'>
				{{#each items}}
				<option value='{{value}}'>{{label}}</option>
				{{/each}}
			</optgroup>
			{{/each}}
			{{/select}}
		</select>
	</div>
</div>
<div class='form-group {{css}}'>
	<label>{{localize 'ResourceDrain.Formula'}}</label>
	<div class='form-fields'>
		<input type='text' data-tooltip='ResourceDrain.FormulaHint' class='resource-drain-formula' value='{{formula}}' {{#unless drainTarget}}readonly disabled{{/unless}}>
		<span>=</span>
		<label class='resource-drain-eval'>{{#if evaluated}}{{#if evaluated.isDeterministic}}{{evaluated.total}}{{else}}<i class="fa-solid fa-dice"></i>{{/if}}{{else}}&nbsp;{{/if}}</label>
	</div>
</div>
