<div class='flexcol'>
	<div class='flexrow drain-details'>
		<h4 class='name'>{{buff.name}}</h4>
    <span class='adjust'>{{{roll.anchor}}}</span>
		<div class='remaining'>
			<span class='resource'>[{{resource.value}}/{{resource.max}}]</span>
			{{#if lastRound}}<span class='last-round'>{{localize "ResourceDrain.LastRound"}}</span>{{/if}}
		</div>
	</div>
	<div class='flexrow buttons'>
		<button data-action='refund' data-tooltip="ResourceDrain.RefundHint">
			{{localize "ResourceDrain.Refund"}}
			<i class="fas fa-undo"></i>
		</button>
	</div>
</div>
