/* Chat Message */
.chat-message.resource-drain {
	&.refund-card {
		background: #e9dbb5;

		&.whisper {
			background: #d1cdc2;
		}

		& .message-header {
			& .message-timestamp {
				display: none;
			}

			& .message-metadata {
				flex: 0;
			}
		}
	}

	& .drain-details {
		gap: 1px;
	}

	& h4 {
		margin: 0;
	}

	& .message-content > div {
		gap: 0.3em;
	}

	& .buttons button {
		height: 2em;
		width: unset;
		line-height: 0;
	}

	& .buttons button:hover {
		font-weight: bold;
	}

	& .buttons button[data-action='refund'] {
		flex: 1 50%;
	}

	& .buttons button[data-action='dismiss'] {
		flex: 1 30%;
	}

	& button[data-action='refund'] {
		border-top-left-radius: 17px;
		border-bottom-left-radius: 5px;
		background: #00ff002b;
		border-color: #0e62156e;
	}

	&.whisper button[data-action='refund'] {
		background: #60d3602b;
		border-color: #0e62156e;
	}

	& .adjust {
		flex: 0;
	}

	& .remaining {
		flex: 0;
		align-items: center;
	}

	& .remaining :is(.resource, .last-round) {
		flex: 0;
		white-space: nowrap;
	}

	& .remaining .last-round {
		font-weight: bold;
	}
}

/* Item Sheet */
.item.sheet .resource-drain {
	& .resource-drain-eval {
		flex: 0 3em;
	}

	& .resource-drain-target {
		overflow: hidden;

		& optgroup {
			background: var(--color-bg-option);
		}

		& .no-selection {
			color: gray;
		}
	}

	& label {
		text-align: left;
	}

	& span {
		flex: 0;
	}
}
