#mana-base-loading-progress {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.6rem;
	background-color: #ffd977de;
	color: black;
	z-index: 1000;
	text-align: center;
	transition: all 500ms ease;
	pointer-events: none;

	display: flex;
	flex-direction: column;

	visibility: hidden;
	opacity: 0;
}

#mana-base-loading-progress.active {
	visibility: visible;
	opacity: 1;
}

#mana-base-loading-progress h3 {
	font-weight: bold;
	/*-webkit-text-stroke: .3px #ffeab6;*/
	margin: 0;
	padding: 0;
	color: black;
	text-shadow: 0 0 3px #ffeb9c;

	flex: 0;
}

#mana-base-loading-progress label {
	color: black;
	text-shadow: 0 0 3px #ffeb9c;

	flex: 0;
}

#mana-base-loading-progress .components {
	display: flex;
	flex-direction: row;
	gap: 3px;
	white-space: nowrap;
	align-self: center;
	font-size: var(--font-size-12, 9pt);
}

#mana-base-loading-progress .components label {
	color: brown;
}

#mana-base-loading-progress .components label::before {
	content: '✘';
}

#mana-base-loading-progress .components label.processing {
	color: hsl(16, 54%, 50%);
}

#mana-base-loading-progress .components label.processing::before {
	content: '⌛';
}

#mana-base-loading-progress .components label.done {
	color: darkgreen;
}

#mana-base-loading-progress .components label.done::before {
	content: '✔';
}
