.chat-message .tag.misfire {
	background-color: rgba(255, 0, 0, 0.1);
}

:is(.action,.item).sheet .misfire .misfire-adjust {
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.05);
	color: black;
	white-space: nowrap;

	& .broken {
		flex: 0;
		padding: 0 3px;
		margin-left: 0.3em;
		border: 2px solid #00000029;
		background-color: #d2a88c36;
	}
}

#tooltip.pf1.misfire {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-auto-rows: min-content;

	gap: 0 3px;

	& > hr {
		grid-column: 1 / -1;
		border: none;
    height: 1px;
    background: burlywood;
	}

	& > label {
		text-align: left;
	}
	& > span {
		color: goldenrod;
		text-align: right;
	}
}
