.pf1.sheet.actor .tab.skills .blind-skill-padding {
	flex: 1;
}

.pf1.sheet.actor .tab.skills .blind-skill {
	flex: 0 1rem;
	color: indigo;
	align-self: center;
}

.app.blind-rolls {
	min-height: 380px;
	min-width: 420px;
}

.app.blind-rolls form {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.app.blind-rolls h3,
.app.blind-rolls .hint {
	flex: 0;
}

.app.blind-rolls .skill-list {
	list-style: none;
	margin: 0;
	padding: 0;

	flex: 1;

	display: flex;
	flex-flow: column nowrap;

	overflow: auto;
}

.app.blind-rolls .skill-list input[type='checkbox'] {
	width: 16px;
	height: 16px;
	flex: 0 16px;
}

.app.blind-rolls .skill-list label {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.app.blind-rolls .skill-list .skill:nth-child(even) {
	background-color: hsl(24deg 7% 38% / 7%);
}

.app.blind-rolls .skill-list .skill:hover {
	background-color: hsl(24deg 7% 38% / 20%);
}

.app.blind-rolls .custom::placeholder {
	opacity: 0.6;
}

.app.blind-rolls .buttons {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.2rem;
}

#tah-group-skills .blind-skill {
	align-self: center;
	color: mediumpurple;
}

.pf1.sheet.actor
	.tab.summary
	.lil-subdetails-reorganizer
	.lil-quick-skills.blind-rolls-layout-adjust {
	flex-basis: 8rem;
}

.pf1.sheet.actor .lil-quick-skills .blind-skill {
	flex: 0 1rem;
	color: indigo;
	align-self: center;
}
