<form autocomplete='off'>
	<h3>{{localize 'BlindRolls.Settings.BuiltIn.Title'}}</h3>
	<p class='hint'>{{localize 'BlindRolls.Settings.BuiltIn.Hint'}}</p>

	<ul class='skill-list'>
	{{#each skills}}
		<li data-skill-id='{{key}}' class='skill'>
			<label>
				<input type='checkbox' name='skills.{{key}}' data-dtype='Boolean' {{checked blind}}>
				<span class='label'>{{label}}</span>
			</label>
		</li>
	{{/each}}
	</ul>

	<hr>

	<h3>{{localize 'BlindRolls.Settings.Custom.Title'}}</h3>
	<p class='hint'>{{localize 'BlindRolls.Settings.Custom.Hint'}}</p>
	<input type='text' data-dtype='String' name='custom' value='{{custom}}' placeholder='{{localize 'BlindRolls.Settings.Custom.Placeholder'}}'>

	<hr>

	<div class='buttons'>
		<button type='submit'>{{localize 'Save'}}</button>
		<button type='reset'>{{localize 'Reset'}}</button>
	</div>
</form>
