.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var {
	margin-left: 2em;
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .formulas {
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 0;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var input {
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid #0000003b;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var input.slug {
	flex: 1 6em;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var input.formula {
	flex: 4 16em;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var input:invalid {
	background-color: #ff00002e;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var label {
	flex: 0 6em;
	align-self: center;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var label:before {
	content: ' = ';
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars action:hover {
	text-shadow: 0 0 5px red;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .custom-var :is(action, .placeholder) {
	flex: 0 24px;
	align-self: center;
	text-align: center;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .placeholder {
	visibility: collapse;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars action > i {
	pointer-events: none;
}

.pf1.actor.sheet form .tab.settings .mkah-custom-vars .instructions {
	margin: 0.3em 2em;
	border: 1px solid #00000047;
	padding: 0.3em 0.5em;
	background-color: #ffffff3d;
	border-radius: 0.5em;
}
