<div class='mkah-custom-vars'>
	<h2>
		<i class='fas fa-puzzle-piece'></i>
		{{localize 'MKAh.CustomVars.Title'}}
	</h2>

	<ul class='formulas'>
		{{#each vars}}
		<li class='custom-var' data-variable-id='{{slug}}'>
			<input type='text' class='slug' data-custom-var-input='slug' placeholder='{{localize 'MKAh.CustomVars.SlugPlaceholder'}}' data-tooltip='@var.{{slug}}' value='{{slug}}'>
			<input type='text' class='formula' data-custom-var-input='formula' placeholder='{{localize 'MKAh.CustomVars.FormulaPlaceholder'}}' value='{{formula}}'>
			<label class='value'>0</label>
			{{#if @root.isEditable}}
			<action data-action='delete' {{#if builtIn}}class='placeholder' data-disabled='true'{{/if}} data-tooltip="Delete"><i class='fas fa-trash-alt fa-fw'></i></action>
			{{/if}}
		</li>
		{{/each}}
	</ul>

	<div class='instructions'>
		<i class='fas fa-info-circle fa-fw'></i>
		{{{localize 'MKAh.CustomVars.Instructions'}}}
	</div>
</div>
