.chat-message .pf1 .attack-targets .saving-throws .invalid {
	opacity: 0.3;
}

.chat-message .pf1 .attack-targets .saving-throws .success {
	color: green;
	font-weight: bold;
}

.chat-message .pf1 .attack-targets .saving-throws .failure {
	color: red;
	font-weight: bold;
}

.chat-message .pf1 .mod-target-saves {
	display: flex;
	flex-direction: row;
	gap: 1px;
}

.chat-message .pf1 .mod-target-saves button {
	/*background-color: goldenrod;*/
	font-size: var(--font-size-12, 8pt);
	line-height: 1.5;
}

.chat-message .pf1 .mod-target-saves .buttons.select,
.chat-message .pf1 .mod-target-saves .buttons.roll {
	flex: 1;
	display: flex;
	flex-direction: column;

	align-items: center;
	white-space: nowrap;
}

.chat-message .pf1 .mod-target-saves .buttons .label {
	font-weight: bold;
	font-size: var(--font-size-14, 10pt);
	margin-right: 0.5em;
}

/*
.chat-message.mod-target-saves.rejected-saving-throw {
	background: #e1b0b0;
}
*/

/*
.chat-message.mod-target-saves.rejected-saving-throw .dice-result .dice-total {
	background-color: #ff5252;
}
*/

.chat-message.mod-target-saves.rejected-saving-throw
	.message-content
	> .flavor-text
	> .saving-throw-acceptance:hover {
	text-shadow: 0 0 5px red;
}

.chat-message.mod-target-saves
	.message-content
	> .flavor-text
	> .saving-throw-acceptance.ambivalent-message {
	color: gray;
}

.chat-message.mod-target-saves.rejected-saving-throw
	.message-content
	> .flavor-text
	> .saving-throw-acceptance.rejected-message {
	color: darkred;
}

.chat-message.mod-target-saves.accepted-saving-throw
	.message-content
	> .flavor-text
	> .saving-throw-acceptance.accepted-message {
	color: darkgreen;
}

.chat-message.mod-target-saves
	.message-content
	> .flavor-text
	> .saving-throw-acceptance::before {
	content: '(';
}

.chat-message.mod-target-saves
	.message-content
	> .flavor-text
	> .saving-throw-acceptance::after {
	content: ')';
}

.dialog.mod-target-saves .dialog-content .save-result.new-save,
.dialog.mod-target-saves .dialog-content .save-result.old-save {
	font-weight: bold;
}

.dialog.mod-target-saves .dialog-content .save-result.fake-inline-roll::before {
	content: '\f6cf ';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
