{{#*inline "activation"}}
<div class='form-group'>
  <label>{{localize label}}</label>
  <div class='form-fields'>
    <input name='{{path}}.cost' {{disabled @root.locked}}
    {{#if noCost}}
      type='hidden' value='' {{disabled @root.locked}}
    {{else}}
      type='number' value='{{activation.cost}}' data-dtype='Number' placeholder='0' min='1' step='1'
    {{/if}}>
    <select name='{{path}}.type' class='wide-flex' {{disabled @root.locked}}>
      <option value=''></option>
      {{selectOptions types selected=activation.type}}
    </select>
  </div>
</div>
{{/inline}}
<fieldset class='contribution-editor'>
  <legend>
    <i class="fa-solid fa-puzzle-piece"></i>
    {{localize 'PF1.ActivationCost'}}
  </legend>

  {{> "activation" activation=source.activation path="activation" noCost=noActionCost types=config.abilityActivationTypes label='PF1.Contribution.ActivationChained'}}

  {{> "activation" activation=source.activation.unchained path="activation.unchained" noCost=noUnActionCost types=config.abilityActivationTypes_unchained  label='PF1.Contribution.ActivationUnchained'}}
</fieldset>
