{{#*inline "subfolders"}}
{{#each folders}}
  <option value='{{id}}' {{contrib-helper-selected id ../selected}}>{{path}}</option>
  {{#if children.length}}
  {{> "subfolders" folders=children selected=../selected}}
  {{/if}}
{{/each}}
{{/inline}}
<div class="flexcol">
  <h2><i class="fa-solid fa-puzzle-piece" data-tooltip="Contribution Helper"></i> {{localize 'Folder'}}</h2>
  <div class='form-group'>
    <label>{{localize "PF1.Contribution.CompendiumFolder"}}</label>
    <div class='form-fields'>
      <select name="folder" class="contribution-helper pack-folder" {{disabled @root.locked}}>
        <option></option>
        {{> "subfolders" folders=tree.children selected=folder}}
      </select>
    </div>
  </div>
</div>
