{{#*inline 'simple-currency'}}
{{#if total}}
{{#each parts}}
<span class='coins denomination-{{id}} {{#if quantity}}have{{else}}none{{/if}}'>
  <span class='coinage'>{{numberFormat quantity sign=(and ../sign (ne quantity 0))}}</span>
  <span class='denomination'>{{small}}</span>
</span>
{{/each}}
{{else}}
<span class='no-value'>{{#if zero}}0 gp{{else}}n/a{{/if}}</span>
{{/if}}
{{/inline}}

<form autocomplete='off'>
  <header>
    <div class='wealth'>
      <div class='currency'>
        <h4>{{localize 'ShoppingBag.Wealth'}}</h4>
        {{#each currencies}}
        <label>
          {{localize label}}
          <input type='number' name='currency.{{id}}' value='{{lookup @root.wealth id}}' readonly>
        </label>
        {{/each}}
      </div>
    </div>
    <div class='controls'>
      <a data-action='browse-compendium' data-tooltip='ShoppingBag.OpenCompendium'>
        <i class='fas fa-folder-plus fa-fw'></i>
      </a>
    </div>
  </header>

  <section>
    <div class='items'>
      <div class='item-panel'>
        <h3>{{localize 'ShoppingBag.Sales'}}</h3>
        <ul class='item-list sales'>
          <li class='header'>
            <span class='img'><i class="fa-solid fa-image fa-fw"></i></span>
            <span class='name'>{{localize 'PF1.Name'}}</span>
            <span class='value' data-tooltip='PF1.Value'><i class="fa-solid fa-coins"></i></span>
            <span class='quantity'>Qty</span>
            <div class='controls'>
              Controls
            </div>
          </li>
          {{#each sales}}
          <li class='item' data-uuid='{{uuid}}' data-category='sale'>
            <span class='img'><img src='{{img}}'></span>
            <span class='name'>{{name}}</span>
            <span class='value'>{{value}}</span>
            <span class='quantity'>{{quantity}}</span>
            <div class='controls'>
              <a data-action='increase'><i class='fa-solid fa-plus'></i></a>
              <a data-action='decrease'><i class='fa-solid fa-minus'></i></a>
              <a data-action='remove'><i class='fa-solid fa-trash'></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        {{#unless sales.length}}
        <p class='info'>{{localize 'ShoppingBag.NoItems'}}</p>
        {{/unless}}
      </div>

      <div class='item-panel'>
        <h3>{{localize 'ShoppingBag.Purchases'}}</h3>
        <ul class='item-list purchases'>
          <li class='header'>
            <span class='img'><i class="fa-solid fa-image fa-fw"></i></span>
            <span class='name'>{{localize 'PF1.Name'}}</span>
            <span class='value' data-tooltip='PF1.Value'><i class="fa-solid fa-coins"></i></span>
            <span class='quantity'>Qty</span>
            <div class='controls'>
              Controls
            </div>
          </li>
          {{#each purchases}}
          <li class='item {{#if hasQuantity}}quantified{{else}}immaterial{{/if}}' data-uuid='{{uuid}}' data-category='purchase'>
            <span class='img'><img src='{{img}}'></span>
            <span class='name'>{{name}}</span>
            <span class='value'>{{value}}</span>
            <span class='quantity'>{{quantity}}</span>
            <div class='controls'>
              <a data-action='increase'><i class='fa-solid fa-plus'></i></a>
              <a data-action='decrease'><i class='fa-solid fa-minus'></i></a>
              <a data-action='remove'><i class='fa-solid fa-trash'></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        {{#unless purchases.length}}
        <p class='info'>{{localize 'ShoppingBag.NoItems'}}</p>
        {{/unless}}
      </div>
    </div>
  </section>

  <footer>
    <div class='sales'>
      <div class='sale-total currency'>
        <label>{{localize 'ShoppingBag.TotalSales'}}:</label>
        {{> 'simple-currency' parts=sale.parts total=sale.total sign=true}}
      </div>
    </div>

    <div class='purchases'>
      <div class='purchase-total currency'>
        <label>{{localize 'ShoppingBag.TotalCost'}}:</label>
        {{> 'simple-currency' parts=cost.parts total=cost.total}}
      </div>

      {{#if sale.total}}
      <div class='difference currency'>
        <label>{{localize 'ShoppingBag.Difference'}}:</label>
        {{> 'simple-currency' parts=diff.parts total=diff.total sign=true}}
      </div>
      {{/if}}

      <div class='final currency'>
        <label>{{localize 'ShoppingBag.Remaining'}}:</label>
        {{> 'simple-currency' parts=final.parts total=final.total zero=true}}
      </div>
    </div>

    <div class='buttons'>
      <button data-action='commit' {{#unless isValid}}disabled{{/unless}}>
        {{localize 'ShoppingBag.Commit'}}
      </button>
    </div>
  </footer>
</form>
