.pf1.sheet .tab.inventory .shopping-bag-spacer,
.pf1.sheet .tab.inventory .shopping-bag {
	flex: 0 1.25em;
	margin: 0 0 0 0.5em;
}

.app.form.shopping-bag {
	min-width: 500px;
	min-height: 360px;
}

.app.form.shopping-bag .window-content {
	padding: 0;
}

.app.form.shopping-bag form header,
.app.form.shopping-bag form section,
.app.form.shopping-bag form footer {
	padding: 0.5em;
}

.app.form.shopping-bag form header,
.app.form.shopping-bag form footer {
	background-color: rgba(0,0,0,0.05);
}

/* Ensure Scrolling Works */

.app.form.shopping-bag form {
	overflow: hidden;
}

.app.form.shopping-bag form footer,
.app.form.shopping-bag form header {
	flex: 0;
}

.app.form.shopping-bag form section {
	flex: 1;
	overflow: hidden;
}

.app.form.shopping-bag form section .items {
	position: relative;
	height: 100%;
}

.app.form.shopping-bag form section .item-panel {
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
}

.app.form.shopping-bag form .info,
.app.form.shopping-bag form section .item-panel h3 {
	text-align: center;
}

.app.form.shopping-bag form section .items .header > * {
	position: sticky;
}

/* REST OF THE STYLING */

.app.form.shopping-bag form {
	display: flex;
	flex-flow: column nowrap;
}

.app.form.shopping-bag form.disabled {
	cursor: wait;
}

.app.form.shopping-bag form.disabled > * {
	pointer-events: none;
}

.app.form.shopping-bag form header {
	display: flex;
	flex-flow: row wrap;
	gap: 0.7em;
}

.app.form.shopping-bag form header .controls {
	display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.app.form.shopping-bag form h4 {
	margin: 0;
}

.app.form.shopping-bag form header .wealth {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	gap: 0.3em;
	flex: 1;
}

.app.form.shopping-bag form header .wealth .currency,
.app.form.shopping-bag form header .wealth .sales {
	display: contents;
}

.app.form.shopping-bag form header .wealth h4 {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	white-space: nowrap;
}

.app.form.shopping-bag form header .wealth label {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	white-space: nowrap;
	gap: 0.3em;
}

.app.form.shopping-bag form header .wealth input {
	text-align: center;
}

.app.form.shopping-bag form footer,
.app.form.shopping-bag form .items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
}

.app.form.shopping-bag form .item-list li:nth-child(odd) > * {
	background-color: var(--pf1-item-list-bg);
}

.app.form.shopping-bag form .item-list li:hover > * {
	background-color: var(--pf1-item-list-hover-bg);
}

.app.form.shopping-bag form .items .item-list li.header > * {
	font-weight: bold;
	line-height: 2;
	background-color: #cbc8c6;/* #bbb9b8;*/
	border-bottom: 2px solid #d5d5d5;
	position: sticky;
  top: 0;
}

.app.form.shopping-bag form .items .item-list {
	list-style: none;
	margin: 0;
	padding: 0;

	overflow: hidden scroll;

	display: grid;
	grid-template-columns: 24px 10fr 3fr 2fr 3fr;
	grid-auto-rows: min-content;
	gap: 2px;
}

.app.form.shopping-bag form .items .item-list > li {
	display: contents;
}

.app.form.shopping-bag form .items .item-list > li > * {
	display: inline-flex;
	align-items: center;
	padding: 0 0.2em;
}

.app.form.shopping-bag form .items .item-list > li > .img {
	padding: unset;
	justify-content: center;
}

.app.form.shopping-bag form .items .item-list > li > .img img {
	width: 24px;
	height: 24px;
}

.app.form.shopping-bag form .items .item-list .value,
.app.form.shopping-bag form .items .item-list .quantity,
.app.form.shopping-bag form .items .item-list .controls {
	justify-content: space-evenly;
	white-space: nowrap;
}

.app.form.shopping-bag form .items .item-list .controls a:hover {
	text-shadow: 0 0 5px red;
}

.app.form.shopping-bag form .items .item-list .item.immaterial .quantity {
	opacity: 0.6;
}

.app.form.shopping-bag form .items .item-list .item.immaterial .controls a:is([data-action="increase"],[data-action="decrease"]) {
	opacity: 0.6;
	pointer-events: none;
}

.app.form.shopping-bag form section {
	flex: 1;
}

.app.form.shopping-bag form footer {
	text-align: right;
}

.app.form.shopping-bag form footer .buttons {
	grid-column: 1 / -1;
}

.chat-message .message-content .shopping-bag .currency,
.app.form.shopping-bag form footer .sales > .currency,
.app.form.shopping-bag form footer .purchases > .currency {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
	gap: 3px;
}

.app.form.shopping-bag form footer .currency .no-value {
	grid-column: span 4;
}

.app.form.shopping-bag form footer .currency .coinage {
	font-weight: bold;
}

.app.form.shopping-bag form footer .currency .coins {
	white-space: nowrap;
	text-align: right;
}

.chat-message .message-content .shopping-bag .currency .coins.none,
.app.form.shopping-bag form footer .coins.none {
	opacity: 0.4;
}

.chat-message .message-content .shopping-bag {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.3em;
}

.chat-message .message-content .shopping-bag .currency .coins {
	white-space: nowrap;
	text-align: right;
}

.chat-message .message-content .shopping-bag .currency .coins.have {
	border: 1px solid var(--color-border-light-primary);;
	border-radius: 5px;
	padding: 0 3px;
}

.chat-message .message-content .shopping-bag .item-list {
	list-style: none;
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-flow: column nowrap;
	gap: 1px;
}

.chat-message .message-content .shopping-bag .item-list .item {
	display: flex;
	flex-flow: row nowrap;
	gap: 3px;
	align-items: center;
}

.chat-message .message-content .shopping-bag .item-list .item img {
	flex: 0;
}

.chat-message .message-content .shopping-bag .item-list .item .name {
	flex: 1;
}

.chat-message .message-content .shopping-bag .item-list .item .quantity {
	font-size: var(--font-size-11);
	align-self: start;
	white-space: nowrap;
	flex: 0;
}

.chat-message .message-content .shopping-bag .item-list .item .quantity::before {
	content: "(×";
}

.chat-message .message-content .shopping-bag .item-list .item .quantity::after {
	content: ")";
}

.chat-message .message-content .shopping-bag .item-list .item:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

.chat-message .message-content .shopping-bag h3,
.chat-message .message-content .shopping-bag h4 {
	margin: 0;
}
