<div class='shopping-bag'>
	{{#if sales.length}}
	<h3>{{localize 'ShoppingBag.Sales'}}</h3>
	<ul class='sales item-list'>
		{{#each sales}}
		<li class='item' data-tooltip='{{localize 'PF1.Value'}}: {{value}}'>
			<img src='{{img}}' width='24' height='24'>
			<h4 class='name'>{{name}}</h4>
			{{#if (gt quantity 1)}}<span class='quantity'>{{quantity}}</span>{{/if}}
		</li>
		{{/each}}
	</ul>
	{{/if}}

	{{#if purchases.length}}
	<h3>{{localize 'ShoppingBag.Purchases'}}</h3>
	<ul class='purchases item-list'>
		{{#each purchases}}
		<li class='item' data-tooltip='{{localize 'PF1.Value'}}: {{value}}'>
			<img src='{{img}}' width='24' height='24'>
			<h4 class='name'>{{name}}</h4>
			{{#if (gt quantity 1)}}<span class='quantity'>{{quantity}}</span>{{/if}}
		</li>
		{{/each}}
	</ul>
	{{/if}}

	<div class='currency'>
		<label>{{localize 'PF1.Currency'}}:</label>
		{{#each currency}}
		<span class='coins denomination-{{id}} {{#if quantity}}have{{else}}none{{/if}}'>
			<span class='coinage'>{{numberFormat quantity sign=(ne quantity 0)}}</span>
			<span class='denomination'>{{small}}</span>
		</span>
		{{/each}}
	</div>
</div>
