.tab.combat-sidebar
	.directory-list
	li.combatant.actor.delayed-turn
	.token-name
	h4 {
	text-align: right;
}

.tab.combat-sidebar
	.directory-list
	li.combatant.actor.delayed-turn
	.token-name
	h4::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f28b ';
	font-weight: 900;
	color: orange;
}
