.pf1.item.sheet {
	& fieldset.auto-forge {
		padding: 0.1em 0.3em;
		border-color: floralwhite;

		& legend {
			position: relative;
			width: 100%;

			& a.reforge {
				position: absolute;
				right: 0;

				& > i {
					pointer-events: none;
				}
			}
		}

		& input.auto-forge.formula:invalid {
			background-color: rgba(255,0,0,0.05);
		}
	}
}


.app.sheet.autoforge.reforge form {
	& h4 {
		border-bottom: 1px solid var(--color-underline-header);
		margin: 3px 0;
	}
}
