<div class='buff-activation-selector'>
	<div class='form-group'>
		<label title=''><i class='fas fa-puzzle-piece'></i> {{localize 'BuffActivator.Activate'}}</label>
		<div class='form-fields {{#unless isAction}}non-action{{/unless}}'>
			{{#unless isAction}}
			<i class='fas fa-exclamation-triangle non-action-warning' title='{{localize 'BuffActivator.NonAction'}}'></i>
			{{/unless}}
			{{#if activateItem}}
			<div class='item'>
				<img class='buff-icon' src='{{activateItem.img}}'>
				<label class='buff-name'>{{activateItem.name}}</label>
        <div class='controls'>
				  <action data-action='unlink' data-group='activate' data-tooltip='PF1.Delete'><i class='fas fa-trash-alt'></i></action>
        </div>
			</div>
			{{else}}
			<input type='text' data-dtype='String' class='activate-buff' value='{{activate}}' list='{{uuid}}-buff-activation-list'>
			{{/if}}
		</div>
	</div>

	<div class='form-group'>
		<label title='{{localize 'BuffActivator.DeactivateHint'}}'><i class='fas fa-puzzle-piece'></i> {{localize 'BuffActivator.Deactivate'}}</label>
		<div class='form-fields {{#if nonAction}}non-action{{/if}}'>
			{{#unless isAction}}
			<i class='fas fa-exclamation-triangle non-action-warning' title='{{localize 'BuffActivator.NonAction'}}'></i>
			{{/unless}}
			{{#if deactivateItem}}
			<div class='item'>
				<img class='buff-icon' src='{{deactivateItem.img}}'>
				<label class='buff-name'>{{deactivateItem.name}}</label>
        <div class='controls'>
				  <action data-action='unlink' data-group='deactivate' data-tooltip='PF1.Delete'><i class='fas fa-trash-alt'></i></action>
        </div>
			</div>
			{{else}}
			<input type='text' data-dtype='String' class='deactivate-buff' value='{{deactivate}}' list='{{uuid}}-buff-activation-list'>
			{{/if}}
		</div>
	</div>

	<datalist id='{{uuid}}-buff-activation-list'>
	{{#each buffs}}
		<option value='#{{id}}'>{{name}}</option>
	{{/each}}
	</datalist>
</div>
