.actor.sheet itemHints.koboldworks .hint.buff-activator {
	background-color: #cf19cf63;
}

.pf1:is(.item,.action).sheet .buff-activation-selector {
	.non-action-warning {
		width: 16px;
		height: 16px;
		flex: 0;
	}

	.item {
		display: flex;
		flex-direction: row;
		gap: 0.2rem;
		align-items: center;
	}

	.item .buff-icon {
		width: 24px;
		height: 24px;
		flex: 0 24px;
	}

	.item .buff-name {
		flex: 1;
		overflow-wrap: anywhere;
	}

	.item action {
		flex: 0;
	}

	.item action:hover {
		text-shadow: 0 0 5px red;
	}

	.controls {
		display: inline-flex;
		gap: 0.3em;
		margin: 0 0.5em 0 0.3em;
	}
}
