<form autocomplete='off'>
  <header>
    <div class='identity'>
      <img src='{{img}}' data-edit='img'>
      <h1><input type='text' name='name' value='{{name}}'></h1>
    </div>

    <div class='tradition'>
      <label>
        Tradition:
        <input type='text' name='system.tradition' value='{{system.tradition}}'>
      </label>
    </div>

    <div class='details'>
      <label class='age detail'>
        <span>Age:</span>
        <input type='text' name='system.details.age' value='{{system.details.age}}' placeholder="Don't ask.">
      </label>
      <label class='detail'>
        <span>Hair:</span>
        <input type='text' name='system.details.hair' value='{{system.details.hair}}' placeholder='A mess'>
      </label>
      <label class='detail'>
        <span>Eyes:</span>
        <input type='text' name='system.details.eyes' value='{{system.details.eyes}}' placeholder='Googly'>
      </label>
      <label class='detail'>
        <span>Pronouns:</span>
        <input type='text' name='system.details.pronouns' value='{{system.details.pronouns}}' placeholder='They'>
      </label>
      <label class='detail'>
        <span>Height:</span>
        <input type='text' name='system.details.height' value='{{system.details.height}}' placeholder='Could be an inch taller.'>
      </label>
      <label class='detail'>
        <span>Weight:</span>
        <input type='text' name='system.details.weight' value='{{system.details.weight}}' placeholder='Nothing to be ashamed of.'>
      </label>
    </div>
  </header>

  <section class='content'>
    <h3>Abilities</h3>
    <div class='abilities'>
      {{#each abilities}}
      <div class='ability'>
        <label>{{label}}</label>
        <input type='number' value='{{data.value}}' name='system.abilities.{{id}}.value' step='1' placeholder='0'>
        =<span class='total'>{{data.total}}</span>
        <span class='mod'>{{numberFormat data.mod sign=true}}</span>
      </div>
      {{/each}}

      <div class='ability'>
        <label>Vigor</label>
        <input type='number' value='{{system.vigor}}' name='system.vigor' step='1' placeholder='0'>
      </div>
    </div>

    <h3>Attributes</h3>
    <div class='attributes'>
      {{#each attributes}}
      <div class='attribute'>
        <label>{{label}}</label>
        <input class='ranks' type='number' value='{{data.ranks}}' name='system.attributes.{{id}}.ranks' step='1' placeholder='0' data-tooltip='Ranks'>
        <input class='bonus' type='number' value='{{data.bonus}}' name='system.attributes.{{id}}.bonus' step='1' placeholder='0' data-tooltip='Custom Bonus'>
        <span class='abilities' data-tooltip="Ability Score bonus">{{numberFormat data.abilities sign=true}}</span>
        =<span class='total'>{{data.total}}</span>
      </div>
      {{/each}}
    </div>

    <h3>Magic</h3>
    <div class='magics'>
      {{#each magic}}
      <div class='magic'>
        <label>{{label}}</label>
        <input class='ranks' type='number' value='{{data.ranks}}' name='system.magic.{{id}}.ranks' step='1' placeholder='0' data-tooltip='Ranks'>
        <input class='bonus' type='number' value='{{data.bonus}}' name='system.magic.{{id}}.bonus' step='1' placeholder='0' data-tooltip='Custom Bonus'>
        =<span class='total'>{{data.total}}</span>
      </div>
      {{/each}}
    </div>

    <div class='casting'>
      <label>
        Spell Base DC
        <span class='base-dc' data-tooltip="5 - Concentration">{{system.magic.dc}}</span>
        + Burden
      </label>
    </div>
  </section>

  <section class='spells'>
    <h3>
      <span>Spells <span class='item-count'>{{spells.length}}</span></span>
      <a data-action='create' data-type='spell' class='action'>+ Create Spell</a>
    </h3>
    <ul class='item-list'>
    {{#if spells.length}}
    {{#each spells}}
    <li class='item spell' data-item-id='{{id}}'>
      <img src='{{img}}'>
      <span class='name'>{{name}}</span>
      <a class='action' data-action='cast' data-tooltip="Cast"><i class="fa-solid fa-dice-d20 fa-fw"></i></a>
      Complexity: <span class='length' data-tooltip="Words">{{system.words.length}}</span>
      Burden: <span class='burden' data-tooltip="Burden">{{system.burden.total}}</span>
      DC: <span class='dc' data-tooltip="Concentration DC">{{system.dc}}</span>
      <div class='controls'>
        <a data-action='delete' class='action'><i class="fa-solid fa-trash-can fa-fw"></i></a>
      </div>
    </li>
    {{/each}}
    {{else}}
    <p class='info'>No spells.</p>
    {{/if}}
    </ul>
  </section>

  <section class='words'>
    <h3>
      <span>Words <span class='item-count'>{{#if (gt word.length system.magic.capacity.total)}}<i class="fa-solid fa-triangle-exclamation"></i>{{/if}}<span class='current{{#if (gt word.length system.magic.capacity.total)}} overloaded{{/if}}'>{{words.length}}</span> / <span class='max'>{{system.magic.capacity.total}}</span></span></span>
      <a data-action='create' data-type='word' class='action'>+ Create Word</a>
    </h3>
    <ul class='item-list'>
    {{#if words.length}}
    {{#each words}}
    <li class='item word' data-item-id='{{id}}'>
      <img src='{{img}}'>
      <span class='type'>{{typeLabel}}</span>
      <span class='name'>{{name}}</span>
      Burden: <span class='burden'>{{system.burden}}</span>
      <div class='controls'>
        <a data-action='delete' class='action'><i class="fa-solid fa-trash-can fa-fw"></i></a>
      </div>
    </li>
    {{/each}}
    {{else}}
    <p class='info'>No words.</p>
    {{/if}}
    </ul>
  </section>

  <section class='notes'>
    <h2>Notes</h2>
    {{editor enrichedNotes target="system.details.notes" button=true}}
  </section>
</form>
