{{#if description~}}
<div class='alt-words-of-power description'>
  {{{description}}}
</div>
{{~/if~}}

<ul class='alt-words-of-power spell-components item-list'>
  <h3>Words</h3>
  {{~#each words~}}
  <li class='item word'>
    <span class='count'>×{{count}}</span>
    <span class='type'>{{typeLabel}}</span>
    <span class='name'>{{name}}</span>
    <span class='burden'>{{burden.total}}</span>
  </li>
  {{~/each~}}
  <hr>
  <li class='detail'>
    <span class='name'>Total</span>
    =<span class='burden'>{{burden}}</span>
  </li>
  <li class='detail'>
    <span class='name'>Concentration DC</span>
    =<span class='dc'>{{dc}}</span>
  </li>
</ul>
