<form autocomplete='off'>
  <header>
    <div class='identity'>
      <img src='{{img}}' data-edit='img'>
      <h1><input type='text' name='name' value='{{name}}'></h1>
    </div>
  </header>

  <section class='details'>
    <label class='detail'>
      Total Burden:
      <input type='number' value='{{system.burden.total}}' placeholder='0' readonly>
    </label>

    <label class='detail'>
      Concentration DC:
      <input type='number' value='{{dc}}' placeholder='0' readonly>
    </label>
  </section>

  <section class='description'>
    <h3>Description</h3>
    {{editor enrichedDesc target="system.description" button=true}}
  </section>

  <section class='words'>
    <h3>
      <span>Words <span class='item-count'>{{words.length}}</span></span>
    </h3>
    <ul class='item-list'>
      {{#if words.length}}
      {{#each words}}
      <li class='item {{#unless valid}}invalid{{/unless}}' data-index='{{@key}}' data-item-id='{{id}}' data-item-uuid='{{uuid}}'>
        <img src='{{img}}' class='image'>
        <span class='count'>×{{count}}</span>
        <span class='type'>{{typeLabel}}</span>
        <span class='name'>{{#if valid}}{{name}}{{else}}[invalid reference]{{/if}}</span>
        <span class='burden' data-tooltip='{{burden.base}} × {{count}}'>{{burden.total}}</span>
        <div class='controls'>
          <a data-action='increase' class='action'><i class="fa-solid fa-plus fa-fw"></i></a>
          <a data-action='decrease' class='action'><i class="fa-solid fa-minus fa-fw"></i></a>
          <a data-action='delete' class='action'><i class="fa-solid fa-trash-can fa-fw"></i></a>
        </div>
      </li>
      {{/each}}
      {{else}}
      <p class='info'>No words.</p>
      {{/if}}
    </ul>
  </section>
</form>
