<form autocomplete='off'>
  <header>
    <div class='identity'>
      <img src='{{img}}' data-edit='img'>
      <h1><input type='text' name='name' value='{{name}}'></h1>
    </div>
  </header>

  <section class='details'>
    <h3>Details</h3>
    <label class='word-type'>
      Type:
      <select name='system.type'>
        {{selectOptions types selected=system.type}}
      </select>
    </label>

    <label class='cost'>
      Burden:
      <input type='number' name='system.burden' value='{{system.burden}}' min='0' step='1' placeholder='0'>
    </label>
  </section>

  <section class='description'>
    <h3>Description</h3>
    {{editor enrichedDesc target="system.description" button=true}}
  </section>
</form>
