.sfrpg.sheet.actor
	.tab
	.inventory-list
	.item[data-item-id].mod-power-toggle-unpowered {
	filter: grayscale(0.7);
	opacity: 0.7;
}

.sfrpg.sheet.actor
	.tab
	.inventory-list
	.item[data-item-id].mod-power-toggle-unpowered
	.item-control.mod-power-toggle {
	filter: grayscale(1);
}
