.forest-of-mirrors-initializing #navigation {
	display: none;
}

#navigation {
	transition: opacity 200ms ease;
	opacity: 1;
}

#navigation.forested.player #scene-list ul.scene-players {
	opacity: 0;
}

#navigation.forested.player #scene-list .scene.context,
#navigation.forested.player #scene-list .scene.view {
	box-shadow: none;
	border-bottom: none;
}

/*
#navigation.creeper.player #scene-list .scene.gm {
	border: 1px solid var(--color-border-dark);
}
*/

#navigation.forested.forestlord .scene-players {
	opacity: 0.6;
}

#navigation.lost.player {
	opacity: 0;
	pointer-events: none;
}

#navigation.lost.player.wandering-the-dark {
	display: none;
}

#navigation.lost.player li,
#navigation.lost.player a {
	pointer-events: none;
}

#navigation.lost.forestlord {
	opacity: 0.6;
	filter: grayscale(0.5);
}

#navigation.mirage.player #scene-list .scene ul.scene-players {
	display: none;
}

#navigation.mirage.player #scene-list .scene.view ul.scene-players {
	display: block;
}

#navigation.mirage.forestlord #scene-list .scene ul.scene-players {
	box-shadow: 0 0 5px cyan;
	border-radius: 1em;
}

.app.forest-tender .submitting {
	cursor: wait;
}

.app.forest-tender .submitting > *{
	pointer-events: none;
}

.app.forest-tender {
	border-radius: 1em;
}

.app.forest-tender .window-content {
	border-radius: 0 0 1em 1em;
}

.app.forest-tender form .inactive {
	opacity: 0.6;
	filter: grayscale(1);
}
