<form autocomplete='off'>
  <div class='form-group {{#if lost}}inactive{{/if}}' {{#if lost}}data-tooltip='Not valid while navigation hidden.'{{/if}}>
    <label class='checkbox'>
      <input type='checkbox' name='fog' {{checked fog}}>
      <b>Obscuring Fog</b> (Hide Location)
    </label>
    <p class="hint">Players will not see on what scene they're on.</p>
  </div>

  <div class='form-group'>
    <label class='checkbox'>
      <input type='checkbox' name='lost' {{checked lost}}>
      <b>Lost & Confused</b> (Hide Navigation)
    </label>
    <p class="hint">Players will not see the navigation bar at all.</p>
  </div>

  <div class='form-group {{#if (or fog lost)}}inactive{{/if}}' {{#if (or fog lost)}}data-tooltip='Not valid with navigation hidden or players hidden.'{{/if}}>
    <label class='checkbox'>
      <input type='checkbox' name='mirage' {{checked mirage}}>
      <b>Mirage</b> (All In Same Scene)
    </label>
    <p class="hint">Players see all others in the same scene with them.</p>
  </div>

  <hr>

  <div class="buttons">
    <button type='button' data-action='deactivate' {{disabled noActive}}>
      <i class="fa-solid fa-power-off"></i>
      De-activate Main Scene
    </button>
    <p class='info'>
      <i class="fa-solid fa-circle-info"></i>
      De-activating the main scene will cause all players to unload their scenes, even if they're on another.
    </p>
  </div>
</form>
