#mana-dev-tools {
	position: fixed;
	z-index: 500;
	top: 18px;
	left: 78px;

	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background: hsl(197deg 1.54% 21.71%);

	border: 1px solid hsl(0deg 3.16% 60%);
	border-top: unset;
	border-radius: 0 0 10px 10px;

	color: white;
}

#mana-dev-tools > i {
	pointer-events: none;
}

#mana-dev-tools .window {
	transition: all 250ms;
	position: absolute;

	display: none;

	top: -1px;
	left: -1px;

	width: 0;
	height: 0;
	overflow: hidden;

	border: 1px solid goldenrod;
}

#mana-dev-tools:hover .window {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
	z-index: 1500;

	height: unset;
	width: unset;

	background: hsl(197deg 1.54% 21.71%);

	padding: 0.2rem 0.7rem 0.5rem 0.2rem;
}

#mana-dev-tools ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#mana-dev-tools ul > ul {
	margin-left: 1em;
}

#mana-dev-tools .menu .entry {
	color: goldenrod;
}

#mana-dev-tools .menu .entry:hover {
	color: gold;
	text-shadow: 0 0  3px gold;
}

#mana-dev-tools h4 {
	margin: 0;
}

.app.mana-dev-tools.script-editor {
	min-height: 300px;
	min-width: 400px;
}

.app.mana-dev-tools.script-editor form {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
}

.app.mana-dev-tools.script-editor form textarea {
	flex: 1;
	resize: none;
	width: 100%;
}
