<form autocomplete='off'>
  <textarea name='text' placeholder='Edit here...'>{{text}}</textarea>

  <div class='buttons'>
    <button type='button' class='save'>
      <i class="fa-solid fa-floppy-disk"></i>
      {{localize "Save"}}
    </button>
  </div>
</form>
