.sidebar-tab.directory[data-tab='combat'] .action-tracker {
	flex: 0 min-content;
	line-height: 1;

	display: flex;
	flex-direction: row;

	gap: 0.3em;
	margin: 0.1em;

	justify-content: center;
	align-items: center;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker.obscured {
	filter: grayscale(1) contrast(0.5) brightness(0.5);
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action {
	flex: 0 1em;
	width: 1em;
	height: 1em;

	position: relative;

	display: inline-block;

	background-color: red;
	border-radius: 0.5em;

	text-align: center;
	justify-content: center;

	color: black;
	font-weight: bold;
	text-shadow: 0 0 1px gold;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.movement {
	width: min-content;
	flex: 0 3em;
	border-radius: 0.3em;
	background-color: #6b856b;
	color: mintcream;
	font-weight: normal;
	white-space: nowrap;
	padding: 0 0.2em;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .main-actions {
	display: flex;
	flex-direction: row;
	gap: 0.3em;

	border: 1px solid #817b76;
	border-radius: 7px;

	padding: 2px;

	justify-content: center;
	align-items: center;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.generic,
.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.standard {
	background-color: gold;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.generic.ready,
.sidebar-tab.directory[data-tab='combat']
	.action-tracker
	.action.standard.ready {
	color: seagreen;
}

.sidebar-tab.directory[data-tab='combat']
	.action-tracker
	.action.generic.depleted,
.sidebar-tab.directory[data-tab='combat']
	.action-tracker
	.action.standard.depleted {
	background-color: saddlebrown;
	/*color: darkred;*/
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.move {
	/*background-color: darkseagreen;*/
	background-color: olivedrab;
	color: palegreen;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.reaction,
.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.swift,
.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.immediate {
	/*background-color: violet;*/
	/*background-color: blueviolet;*/
	background-color: mediumslateblue;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.aoo {
	background-color: crimson;
}
.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.aoo.depleted {
	background-color: maroon;
	color: pink;
}

.sidebar-tab.directory[data-tab='combat']
	.action-tracker
	.action.reaction.depleted,
.sidebar-tab.directory[data-tab='combat']
	.action-tracker
	.action.swift.depleted,
.sidebar-tab.directory[data-tab='combat']
	.action-tracker
	.action.immediate.depleted {
	background-color: darkslateblue;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.nonaction,
.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.free {
	/*background-color: antiquewhite;*/
	background-color: gray;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.ready {
	color: greenyellow;
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.depleted {
	color: orangered;
	/*opacity: 0.6;*/
}

.sidebar-tab.directory[data-tab='combat'] .action-tracker .action.overused {
	color: orangered;
}

#tooltip.action-tracker-tooltip {
	color: gold;
	background-color: black;

	border: 2px solid coral;
	border-radius: 0.5em;

	padding: 0.2em 0.35em;

	font-weight: normal;

	white-space: pre;
}
