:root {
	--map-note-background: #c7c0c0;
	--map-note-foreground: black;
	--map-note-border: 2px solid var(--color-border-dark);
	--map-note-max-width: 40%;
	--map-note-max-height: 60%;
	--map-note-fade-time: 200ms;
}

#map-note-tooltip {
	opacity: 0;

	/* Position tooltip */
	position: absolute;
	top: calc(var(--top) * 1px);
	z-index: var(--z-index-tooltip);

	/* Style contents */
	background: var(--map-note-background);
	color: var(--map-note-foreground);

	/* Border */
	border: var(--map-note-border);
	border-radius: 0.5rem;
	padding: 0.5em;

	/* Size constraints */
	width: fit-content;
	height: min-content;
	min-width: 200px;
	min-height: 2em;
	max-width: var(--map-note-max-width);
	max-height: var(--map-note-max-height);

	transition: opacity var(--map-note-fade-time) ease-in-out;

	/* Handle big content */
	overflow: hidden scroll;
}

/* Position left-aligned tooltip */
#map-note-tooltip.left {
	left: calc(calc(var(--x-off) - var(--width) - 3) * 1px);
}
#map-note-tooltip.right {
	right: calc(calc(var(--x-off) - var(--width) - 3) * 1px);
}

/* Fix Foundry's stupid <p> styling */
#map-note-tooltip > p:first-child {
	margin-top: 0;
}
#map-note-tooltip > p:last-child {
	margin-bottom: 0;
}

/* Make visible */
#map-note-tooltip:hover,
#map-note-tooltip.active {
	opacity: 1;
}

/* Prevent the tooltip from interfering when not active */
#map-note-tooltip.inactive {
	pointer-events: none;
	width: 0;
	height: 0;
}

#map-note-tooltip h1.journal-entry-title {
	font-weight: bold;
}
