.chat-message .chat-attack .archaic-damage-buttons {
	display: flex;
	flex-direction: row;
	gap: 1px;
	margin-top: 3px;

	& a.inline-action {
		flex: 1;
		line-height: 1.3;
		font-size: var(--font-size-12, 9pt);
		font-weight: bold;

		margin: 0;

		display: flex;
		justify-content: center;

		border: 1px outset hsl(24deg 13% 69%);
		background: hsl(22deg 21% 77%);
	}

	& a.inline-action:hover {
		background: hsl(30deg 68% 70%);
	}

	& a.inline-action.apply-full {
		border-radius: 7px 0 0 7px;
	}

	& a.inline-action.apply-half {
		border-radius: 0 7px 7px 0;
	}

	& .button-group {
		display: flex;
		flex-direction: row;
		gap: 1px;
		flex-wrap: wrap;
		flex: 1 50%;
	}

	& label {
		flex: 1 100%;
		text-align: center;
	}
}

#tooltip.archaic-buttons {
	& .value {
		color: gold;
		font-weight: bold;
	}
	& .percentage {
		color: goldenrod;
	}
}
