<form autocomplete="off">
	<!-- TYPES -->
	<ol class="types">
		<!-- HEADER -->
    <li class='header'>
      <span class='drag'> </span>
      <h3>Identifier</h3>
      <h3>Label</h3>
      <span class="sort" data-tooltip="Sorting" data-tooltip-direction="LEFT"><i class="fa-solid fa-arrow-down-short-wide"></i></span>
      <span class="controls"> </span>
    </li>

		<!-- ALREADY CONFIGURED -->
		{{#each sections}}
    <li class='entry{{#if custom}} custom{{/if}}' data-key='{{key}}'>
      <span class='drag'> </span>
      <input name="types.{{_path}}.key" class="key" type="text" value="{{key}}" placeholder="e.g. talent" {{disabled builtIn}} required>
      <input name="types.{{_path}}.label" class="label" type="text" value="{{label}}" placeholder="e.g. Talent" {{disabled builtIn}} required>
      <input name="types.{{_path}}.sort" class="sort" type="number" step="1" value="{{sort}}" placeholder="0" {{disabled builtIn}} required>
      <span class="delete controls" data-tooltip="Remove">
        {{#if custom}}
        <a data-action="delete" data-key="{{key}}"><i class="fa-solid fa-trash-can fa-fw"></i></a>
        {{/if}}
      </span>
    </li>
		{{/each}}
		<hr>

		<!-- NEW TYPE -->
    <li class='new'>
      <span> </span>
      <input name="newEntry.key" class="key" type="text" value="{{key}}" placeholder="e.g. talent">
      <input name="newEntry.label" class="label" type="text" value="{{label}}" placeholder="e.g. Talent">
      <span> </span>
    </li>
	</ol>

	<!-- BUTTONS -->
	<div class="buttons">
		<button data-action="submit" type="button">{{localize "Save"}}</button>
		<button data-action="reset" type="button">{{localize "Reset"}}</button>
	</div>
</form>
