.app.form.custom-feat-types {
	min-width: 480px;
}

.app.form.custom-feat-types form {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	row-gap: 0.5rem;
}

.app.form.custom-feat-types form .types {
	list-style: none;
	margin:0;
	padding: 0;

	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	gap: 3px;

	align-items: center;
}

.app.form.custom-feat-types form .types > li {
	flex: 0;
	width: 100%;

	display: grid;
	grid-template-columns: 2em 2fr 3fr 4em 1.5em;
	gap: 0;
	border: 2px solid transparent;
	border-bottom: 0;
}

.app.form.custom-feat-types form input:invalid {
	background: rgba(255, 0, 0, 0.1);
}

.app.form.custom-feat-types form .types .delete {
	justify-self: center;
}

.app.form.custom-feat-types form .types h3 {
	margin: 0;
	padding: 0;
}

.app.form.custom-feat-types form .types hr {
	grid-column: 1 / -1;
	margin: 2px;
}

.app.form.custom-feat-types form .types .sort {
	text-align: center;
}

.app.form.custom-feat-types form .types .hint {
	grid-column: span 3;

	color: black;
	font-size: var(--font-size-14);

	text-align: center;
	padding: 0.2rem 0.7rem;

	width: 100%;

	border: 2px solid #817269;
	border-radius: 0.5rem;
	background-color: rgb(133 118 103 / 40%);
}

.app.form.custom-feat-types form .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content;
	gap: 0.3rem;
}
