
.app.pf1-custom-slots-config form {
	display: flex;
	flex-flow: column;
	gap: 0.7em;
}

.app.pf1-custom-slots-config form .slot-configuration ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-flow: column;
	gap: 3px;
}

.app.pf1-custom-slots-config form .slot-configuration ul li {
	display: flex;
	flex-flow: row wrap;
	gap: 3px;
	align-items: center;
}

.app.pf1-custom-slots-config form .slot-configuration ul li .controls {
	width: 1.25em;
}

.app.pf1-custom-slots-config form .slot-configuration ul li h3 {
	flex: 1;
	margin: 0;
	padding: 0;
	/*font-size: var(--font-size-16);*/
	/*font-weight: bold;*/
}

.app.pf1-custom-slots-config form .info {
	flex: 10 100%;
}

.app.pf1-custom-slots-config form .slot-configuration ul li input {
	flex: 1;
}

.app.pf1-custom-slots-config form .slot-configuration ul li input::placeholder {
	opacity: 0.6;
}

.app.pf1-custom-slots-config form .buttons {
	display: flex;
	flex-flow: row;
	gap: 3px;
}

.app.pf1-custom-slots-config form a > i {
	pointer-events: none;
}
