<form autocomplete='off'>
  <div class='slot-configuration'>
    <ul>
      <li class='header'>
        <h3>{{localize 'CustomSlots.ID'}}</h3>
        <h3>{{localize 'CustomSlots.Label'}}</h3>
        <div class='controls'></div>
      </li>
      {{#if hasSlots}}
      {{#each slots}}
      <li>
        <input type='text' placeholder='{{localize 'CustomSlots.ID'}}' value='{{@key}}' readonly>
        <input type='text' name='slots.{{@key}}' placeholder='{{localize 'CustomSlots.Label'}}' value='{{this}}' required>
        <div class='controls'>
          <a class='action' data-action='delete' data-delete='{{@key}}'><i class="fa-solid fa-delete-left"></i></a>
        </div>
      </li>
      {{/each}}
      <hr>
      {{else}}
      <p class='info'>{{localize 'CustomSlots.NoConfig'}}</p>
      {{/if}}
      <li>
        <a class='action' data-action='create'><i class="fa-solid fa-square-plus"></i> {{localize 'CustomSlots.CreateNew'}}</a>
      </li>
    </ul>
  </div>

  <div class='buttons'>
    <button type='button'>
      <i class="fa-solid fa-floppy-disk"></i>
      Save
    </button>
  </div>
</form>
