<form autocomplete='off'>
  <ul class='actor-list'>
    <li class='header'>
      <span class='portrait'> </span>
      <span class='name'>Name</span>
      <span class='points'>Points</span>
      <span class='items'>Items</span>
      <div class='controls'> </div>
    </li>
  {{#each actors}}
    <li class='actor' data-actor-id="{{id}}">
      <img class='portrait' src='{{img}}'>
      <h3 class='name'>{{name}}</h3>
      <span class='points'>{{points.total}}</span>
      <span class='items'>{{points.count}}</span>
      <div class='controls'>
        <a data-action='remove' data-tooltip="Remove">
          <i class="fa-solid fa-user-minus" inert></i>
        </a>
      </div>
    </li>
  {{else}}
  <p>No actors. Drag & drop them here to add them.</p>
  {{/each}}
  </ul>
</form>
