.sheet .module-container-contents {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 7px;
	padding: 0 0.2rem;
	background-color: rgba(0, 0, 0, 0.05);
	margin-top: 3px;
}

.sheet .module-container-contents .container-header {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1;
	padding: 0;
	margin: 0;
}

.sheet .module-container-contents .container-item-list {
	margin-bottom: 0;
}

.sheet .module-container-contents .container-item:hover {
	text-shadow: 0 0 3px rgb(196, 39, 39, 0.9);
}

.sheet .module-container-contents .empty-notification {
	padding: 0;
	margin: 0;
}
