<div class='module-container-contents container-contents'>
	<h2 class='container-header'>{{localize 'PF1.Containers.Contents.Label'}}</h2>
	{{#unless hasItems}}
	<p class='empty-notification'>{{localize 'Empty'}}</p>
	{{else}}
	<ul class='container-item-list' data-container-id='{{id}}'>
		{{#each items}}
		<li class='container-item' data-item-id='{{id}}' data-item-uuid='{{uuid}}'>
			<span class='quantity'>{{quantity}}</span>
			<span class='container-item-name'>{{name}}</span>
		</li>
		{{/each}}
	</ul>
	{{/unless}}
</div>
