<form autocomplete='off' class='flexcol'>
	<div class='scaling-config'>
	<ul class='scaling-config flexcol'>
		<li class='flexrow'>
			<label class='size-num'></label>
			<label class='size-label'>Size</label>
			<label class='width'>Width</label>
			<label class='height'>Height</label>
			<label class='scale'>Scale</label>
		</li>
		{{#each config as |data size|}}
		<li	class='size-entry flexrow' data-size='{{size}}' data-width='{{data.w}}' data-height='{{data.h}}' data-scale='{{data.scale}}'>
 			<label class='size-num'>[{{@index}}]</label>
			<label class='size-label'>{{size}}</label>
			<input class='width' type='number' value='{{data.w}}' name='{{size}}.w' min='1' step='1' max='8'>
			<input class='height' type='number' value='{{data.h}}' name='{{size}}.h' min='1' step='1' max='8'>
			<input class='scale' type='number' value='{{data.scale}}' name='{{size}}.scale' min='0.2' step='0.01' max='3'>
		</li>
		{{/each}}
	</ul>
	<hr>
	<div class='buttons flexrow'>
		<button type='submit'><i class='fas fa-save'></i> Save</button>
		<button type='button' class='reset minify'><i class='fas fa-compress-arrows-alt'></i> Preset</button>
		<button type='reset'><i class='fas fa-undo'></i> Reset</button>
	</div>
</form>
