.app.mkah-pf1-token-scaling.token-scaling-config {
}

.app.mkah-pf1-token-scaling.token-scaling-config form ul,
.app.mkah-pf1-token-scaling.token-scaling-config form ul li {
	gap: 3px;
	margin: 0;
	padding: 0;
}

.app.mkah-pf1-token-scaling.token-scaling-config form .size-num {
	flex: 0 2em;
}
.app.mkah-pf1-token-scaling.token-scaling-config form .height,
.app.mkah-pf1-token-scaling.token-scaling-config form .width,
.app.mkah-pf1-token-scaling.token-scaling-config form .scale {
	flex: 0 4em;
	text-align: center;
	max-width: 4em;
}
