<div class='metamagic'>
	<h2><i class="fa-solid fa-puzzle-piece"></i> {{localize 'Metamagic.Title'}}</h2>

	<div class='flexrow maximize'>
		<label>
			{{localize 'Metamagic.Maximize.Label'}}
		</label>
		<select class='maximize' data-dtype='Boolean'>
			{{selectOptions options selected=active localize=true}}
		</select>
		<p class='hint'>{{localize 'Metamagic.Maximize.Hint'}}</p>
	</div>
</div>
