.pf1.sheet.item .metamagic label {
	flex: 2;
}

.pf1.sheet.item .metamagic select {
	flex: 3;
	background-color: rgba(0, 0, 0, 0.05);
}

.pf1.sheet.item .metamagic .hint {
	padding-left: 40%;
}

.pf1.sheet.item .metamagic div {
	align-items: center;
}
