<fieldset class='auto-forge'>
  <legend>
    <i class="fa-solid fa-puzzle-piece" data-tooltip='AutoForge.Identity'></i>
    {{localize "AutoForge.EnhQualities"}}
    {{#if reforge}}
    <a class='reforge' data-action='reforge' data-tooltip="AutoForge.Reforge.Button">
      <i class="fa-solid fa-screwdriver-wrench"></i>
      {{localize 'AutoForge.Reforge.Button'}}
    </a>
    {{/if}}
  </legend>

  <div class='form-group enhancement-quality-bonus' data-tooltip='AutoForge.Editor.EnhQualityHint'>
    <label>{{localize 'AutoForge.Editor.EnhQuality'}}</label>
    <div class='form-fields'>
      <input type='text' data-auto-forge='bonus' class='auto-forge enh-quality formula' value='{{quality}}' placeholder='{{localize 'AutoForge.Editor.EnhQualityEx'}}'>
      {{#if (gt total 10)}}<i class="fa-solid fa-triangle-exclamation" data-tooltip="AutoForge.Editor.OverEnhanced"></i>{{/if}}
    </div>
  </div>

  <div class='form-group enhancement-quality-flat' data-tooltip='AutoForge.Editor.EnhFlatCostHint'>
    <label>{{localize 'AutoForge.Editor.EnhFlatCost'}}</label>
    <div class='form-fields'>
      <input type='text' data-auto-forge='flat' class='auto-forge enh-flat formula' value='{{flat}}' placeholder='{{localize 'AutoForge.Editor.EnhFlatCostEx'}}'>
    </div>
  </div>
</fieldset>
