<form autocomplete='off'>
  <p class='info'>
    <i class="fa-solid fa-circle-question"></i>
    {{localize 'AutoForge.Reforge.Help'}}
  </p>

  <h3>{{localize 'AutoForge.Reforge.Qualities'}}</h3>

  <div>
    <h4>{{localize 'AutoForge.Editor.EnhQuality'}}</h4>
    <input type='text' value='{{enh.bonus}}' name='reforge.bonus' placeholder='{{localize 'AutoForge.Editor.EnhQualityEx'}}'>
  </div>

  <div>
    <h4>{{localize 'AutoForge.Editor.EnhFlatCost'}}</h4>
    <input type='text' value='{{enh.flat}}' name='reforge.flat' placeholder='{{localize 'AutoForge.Editor.EnhFlatCostEx'}}'>
  </div>

  <hr>

  <div class='buttons'>
    <button data-action='reforge'>
      {{localize 'AutoForge.Reforge.Button'}}
    </button>
  </div>

  <!-- Material -->
</form>
