ol#combat-tracker li.combatant {
	&.drag-hover {
		/*box-sizing: border-box;*/
		background-color: #ffd47d3b;
	}

	&.drag-hover-under {
		/*border-bottom: #ffba00 dashed;*/
		box-shadow: 0 3px 0 #ffba00;
	}

	&.drag-hover-over {
		/*border-top: #ffba00 dashed;*/
		box-shadow: 0 -3px 0 #ffba00;
	}

	&.drag-source-active {
		opacity: 0.4;
	}
}
