#chat .chat-message .level-up-notify a.entity-link[data-entity='Actor'] {
	border: none;
	background: inherit;
}

#chat
	.chat-message
	.level-up-notify
	a.entity-link[data-entity='Actor']
	i.fa-user:before {
	content: '\f35b';
}
