<div class='level-up-notify flexrow' data-actor-id="{{actor.id}}">
	<div class='portrait' style='flex: 0 0 48px; height: 48px; width: 48px;'>
		<img src='{{token.img}}' />
	</div>
	<div class='text' style='margin-left: 3px;'>
		<h2 class='actor' style='margin-bottom: 3px; font-size: 1.2em;'></i> <span class='name'>{{actor.link}}</span></h2>
		<span class='level-up-text'>{{levelupMessage}}</span>
	</div>
</div>
