#mkah-party-experience-dialog {
	min-width: 600px;
	max-width: 800px;
}

#mkah-party-exp-cr-calculator {
	min-width: 260px;
	max-width: 400px;
}

#mkah-party-experience-dialog form .experience meter.progress {
	width: 100%;
	height: 20px;
}

#mkah-party-experience-dialog form img,
#mkah-party-experience-dialog form span,
#mkah-party-experience-dialog form label,
#mkah-party-experience-dialog form h4,
#mkah-party-exp-cr-calculator form label,
#mkah-party-exp-cr-calculator form input {
	margin: 0;
	padding: 0;
	align-self: center;
}

#mkah-party-experience-dialog form ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns:
		24px minmax(min-content, 4fr) 4em 4em minmax(min-content, 1fr)
		min-content;
	gap: 3px;
}

#mkah-party-experience-dialog form ul li {
	display: contents;
}

#mkah-party-experience-dialog form ul li.ready h4 {
	text-shadow: 0 0 7px goldenrod;
}

#mkah-party-experience-dialog form ul li.mismatched-experience h4.name {
	text-shadow: 0 0 7px red;
}

#mkah-party-experience-dialog form ul li.header h4 {
	background-color: #80808045;
	padding: 1px 3px;
}

#mkah-party-experience-dialog form ul li.highest h4 {
	background-color: #d8c55f33;
}

#mkah-party-experience-dialog form ul li img {
	width: 24px;
	height: 24px;
}

#mkah-party-experience-dialog form .col-span-4 {
	grid-column: span 4;
}

#mkah-party-experience-dialog form .actions action[data-action='delete'] {
	width: 16px;
	height: 16px;
}

#mkah-party-experience-dialog form .experience .bar {
	display: grid;
	grid-template-columns: 1fr min-content;
	gap: 3px;
}

#mkah-party-experience-dialog form .experience .statistics {
	display: grid;
	grid-template-columns: repeat(4, 1fr minmax(min-content, 1fr));
	gap: 3px;
}

#mkah-party-exp-cr-calculator form input,
#mkah-party-experience-dialog form .experience .statistics input {
	text-align: center;
	width: 7em;
	min-width: 4em;
	max-width: 8em;
	background-color: #fff6eb8c;
	border: 1px solid #907b70a8;
}

#mkah-party-experience-dialog form .actions {
	justify-self: center;
}

#mkah-party-experience-dialog form .actions action[data-action='delete']:hover {
	text-shadow: 0 0 5px red;
}

#mkah-party-experience-dialog form .actions action i {
	pointer-events: none;
}

#mkah-party-experience-dialog form .buttons {
	display: grid;
	grid-template-columns: 2em 1fr 1fr;
	gap: 3px;
}

#mkah-party-experience-dialog form .buttons input,
#mkah-party-experience-dialog form .buttons button {
	line-height: 1.5;
}

#mkah-party-experience-dialog form .buttons button i {
	pointer-events: none;
}

#mkah-party-exp-cr-calculator form .cr {
	display: grid;
	grid-template-rows: auto;
	gap: 3px;
}

#mkah-party-exp-cr-calculator form .levels {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 3px;
	column-gap: 0.5em;
}

#mkah-party-exp-cr-calculator form .levels label {
	white-space: nowrap;
}

#mkah-party-exp-cr-calculator form .col-span-2 {
	grid-column: span 2;
}

#mkah-party-exp-cr-calculator form select,
#mkah-party-exp-cr-calculator form input {
	width: 100%;
	max-width: unset;
}

#mkah-party-exp-cr-calculator form .xp input {
	line-height: 1.5;
	font-size: 16pt;
}

#mkah-party-experience-dialog form :disabled,
#mkah-party-exp-cr-calculator form :disabled {
	opacity: 0.4;
}
