<form autocomplete='off'>
	<div class='header'>
		<div class='instructions'>
			<p>Drag & drop exported JSON files in here.</p>
			{{#if imports.size}}
			<p>Right click a document to preview it.</p>
			{{/if}}
		</div>
		<div class='actions'>
			<span class='refresh-action' data-tooltip='Refresh' data-tooltip-direction='UP'><i class='fa-solid fa-rotate-right'></i></span>
		</div>
	</div>
	<ul class='drops'>
		<li class='header'>
			<span class='image'> </span>
			<label class='name-box'>Name</label>
			<span class='type'>Type</span>
			<span class='folder'>Folder</span>
			<span class='keep-id'>Keep ID</span>
			<span class='actions'>Actions</span>
		</li>

		{{#if imports.size}}
		{{#each imports}}
		<li class='import document' data-unique-id='{{uid}}'>
			{{#if (eq documentName 'JournalEntry')}}
			<span class='image'> </span>
			{{else}}
			<img class='image' src='{{img}}'>
			{{/if}}
			<div class='name-box'>
				<input type='text' name='{{uid}}.name' class='name' value='{{name}}' required>
			</div>
			<span class='type'>{{documentName}}</span>
			<div class='folder'>
				<select name='{{uid}}.folder' {{#unless (lookup @root.folders documentName)}}disabled readonly{{/unless}}>
					<option value=''>n/a</option>
					{{#if (lookup @root.folders documentName)}}
					{{selectOptions (lookup @root.folders documentName) selected=json.folder}}
					{{/if}}
				</select>
			</div>
			<span class='keep-id'><input type='checkbox' name='{{uid}}.keepId' {{checked keepId}}></span>
			<div class='actions'>
				<span class='delete-action' data-tooltip='Delete' data-tooltip-direction='UP'><i class='fa-solid fa-trash-can'></i></span>
			</div>
		</li>
		{{/each}}
		{{else}}
		<li><label class='no-imports-notification'>No files to be imported, yet.</label></li>
		{{/if}}
	</ul>

	<hr>

	<div class='buttons'>
		<button type='submit' class='import-button'><i class='fa-solid fa-cloud-arrow-up'></i> Import</button>
	</div>
</form>
