.app.form.mass-import-dialog .import-in-progress {
	cursor: wait;
}

.app.form.mass-import-dialog form > .header {
	display: flex;
	flex-direction: row;
}

.app.form.mass-import-dialog form > .header .instructions {
	flex: 1;
}

.app.form.mass-import-dialog form > .header .actions {
	flex: 0;
	margin: 0.3rem;
}

.app.form.mass-import-dialog .drops {
	list-style: none;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: 24px 2fr min-content 1fr 4rem 4rem;
	grid-template-rows: min-content;

	max-height: 24rem;
	overflow-x: hidden;
	overflow-y: scroll;
}

.app.form.mass-import-dialog .drops > li {
	display: contents;
}

.app.form.mass-import-dialog .drops > li > * {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-top: 1px;
}

.app.form.mass-import-dialog .drops .name-box {
	justify-content: left;
	min-width: 16rem;
	padding-left: 3px;
}

.app.form.mass-import-dialog .drops .type {
	padding: 0 0.5rem;
}

.app.form.mass-import-dialog .drops .name {
	text-overflow: ellipsis;
}

.app.form.mass-import-dialog .drops .keep-id,
.app.form.mass-import-dialog .drops .actions,
.app.form.mass-import-dialog .drops .type {
	white-space: nowrap;
}

.app.form.mass-import-dialog .header .actions .refresh-action,
.app.form.mass-import-dialog .drops .actions .delete-action {
	cursor: pointer;
}

.app.form.mass-import-dialog .header .actions .refresh-action:hover,
.app.form.mass-import-dialog .drops .actions .delete-action:hover {
	text-shadow: 0 0 3px red;
}

.app.form.mass-import-dialog .drops .folder select {
	width: 100%;
	text-align: center;
}

.app.form.mass-import-dialog .drops .image {
	padding: 0;
	height: 24px;
	width: 24px;
	align-self: center;
}

.app.form.mass-import-dialog .drops > .header > * {
	background-color: rgba(0, 0, 0, 0.2);
}

.app.form.mass-import-dialog .drops > .import.document:nth-child(2n + 1) {
	background-color: rgba(0, 0, 0, 0.5);
}

.app.form.mass-import-dialog .drops .no-imports-notification {
	grid-column: span 6;
	text-align: center;
}
