.sfrpg.actor.sheet
	.sheet-body
	.tab.details
	.attributes
	.attribute
	.attribute-value
	.x-min-max-label {
	font-size: var(--font-size-12, 10pt);
}

.sfrpg.actor.sheet .tab.details .x-min-max-label:after {
	content: ': ';
}

.sfrpg.actor.sheet .tab.details .x-min-max-label.min {
}

.sfrpg.actor.sheet .tab.details .x-min-max-label.max {
}

.sfrpg.actor.sheet .tab.details .x-extra-details {
}

.sfrpg.actor.sheet .tab.details .x-extra-details .hack-dc-field {
	gap: 0.5rem;
	margin: 0 0.5rem;
}

.sfrpg.actor.sheet .tab.details .x-extra-details .hack-dc-field .hack-dc.value {
	font-weight: bold;
}

.sfrpg.actor.sheet .tab.details .x-extra-details .value,
.sfrpg.actor.sheet .tab.details .x-extra-details .label {
	flex: 0;
	white-space: nowrap;
}
