#players .latency-time {
	flex: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: 1px solid black;
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: -5px;
	font-size: 10px;
	white-space: nowrap;
	line-height: 1.5em;
	align-self: center;
}

#players .latency-time.stale {
	color: rgba(255, 255, 255, 0.4);
}

#players .latency-time.dead {
	color: #ffbbbb;
	background-color: rgba(255, 0, 0, 0.2);
}
