<div class='pack-sourcing'>
	<h3 class='form-header'><i class='fa-solid fa-puzzle-piece'></i> Pack Sourcing</h3>
	<div class='form-group'>
		<label>Source Item</label>
		<div class='form-fields' style='flex-flow:column nowrap;'>
			{{#if uuid}}
			<div class='source' data-uuid='{{uuid}}'>
				{{#if found}}
				<img class='image' src='{{img}}'>
				<label class='name'>{{name}}</label>
				{{else}}
				<label class='not-found'>[Deleted]</label>
				{{/if}}
			</div>

			{{#if pack}}
			<span class='uuid pack-source' data-tooltip='Pack ID: {{pack}}' data-tooltip-direction='UP'>{{uuid}}</span>
			{{else}}
			<span class='uuid items-source' data-tooltip='Items Directory' data-tooltip-direction='UP'>{{uuid}}</span>
			{{/if}}

			{{#if allowDelete}}
			<button type='button' class='delete-source-id'>Delete Source ID</button>
			{{/if}}
			{{else}}
			<label>No source</label>
			{{/if}}
		</div>
	</div>
</div>
