.pf1.sheet fieldset.contribution-editor {
	padding: 0.5em;
	display: flex;
	flex-flow: column;
	gap: 3px;
	border: 3px double var(--color-border-light-primary);
}

.pf1.sheet fieldset.contribution-editor .form-group {
	margin: 0;
}

.pf1.sheet fieldset.contribution-editor .wide-flex {
	flex: 3;
}

.pf1.sheet fieldset.contribution-editor .contrib-helper-fixer {
	flex: 0  1.25em;
	border-radius: 3px;
	border: 1px solid black;
	padding: 2px;
	border-style: outset;
	background: silver;
	outline: 2px solid orangered;
}

.pf1.sheet fieldset.contribution-editor legend {
	font-size: var(--font-size-14);
	font-weight: bold;
}

.pf1.sheet .contribution-missing-linked {
	outline: orange 1px solid;
	background-color: rgb(155 80 0 / 10%);
	box-shadow: 0 0 5px orange;
}

.pf1.sheet .contribution-malformed,
.pf1.sheet .contribution-missing {
	outline: red 2px solid;
	background-color: rgb(255 0 0 / 10%) !important;
	box-shadow: 0 0 7px red;
}

.pf1.sheet .contribution-warning {
	text-shadow: 0 0 12px red;
	text-align: center;
}

.pf1.sheet nav .contribution-tab {
	/*border-top: 3px solid red;*/
	box-shadow: 0 -3px 3px red;
}

.pf1.sheet .contribution-helper.pack-folder {
	background-color: rgba(255,200,200,0.1);
}

.pf1.sheet .contribution-helper.pack-folder option:checked {
	font-weight: bold;
}

.pf1.sheet .contribution-helper.last-editor {
	flex: 1 100%;
	text-align: right;
	background: hsl(38deg 100% 50% / 25%);
}

.pf1.sheet .contribution-helper.last-editor .unknown-user {
	opacity: 0.6;
}
.pf1.sheet .contribution-helper.last-editor .unknown-user::before {
	content: "[";
}
.pf1.sheet .contribution-helper.last-editor .unknown-user::after {
	content: "]";
}
