#app-menu-module {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background: hsl(197deg 36% 44%);
	border-bottom-right-radius: 10px;
}

#app-menu-module i.icon {
	color: white;
	text-shadow: 0 0 5px black;
}

#app-menu-module .window {
	transition: all 250ms;
	position: fixed;
	top: 0;
	left: 0;

	height: 0;
	/*width: 0;*/

	background: hsl(213deg 23% 23%);
	border-bottom-right-radius: 15px;

	overflow: hidden;
}

#app-menu-module:hover .window {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;

	height: unset;
	width: unset;

	padding: 0.2rem 0.7rem 0.5rem 0.2rem;
	border: 0 solid var(--color-border-dark-1);
	border-width: 0 3px 3px 0;
}

#app-menu-module:hover .window h4 {
	color: var(--color-text-light-heading);
	border-bottom: 1px solid var(--color-underline-inactive);
	margin: 0;
}

#app-menu-module:hover .window li {
}

#app-menu-module:hover .window .no-apps {
	/*color: var(--color-text-light-5);*/
	color: burlywood;
	display: none;
}

#app-menu-module:hover .window .app-list {
	list-style: none;
	margin: 0 0 0 0.5rem;
	padding: 0;

	display: flex;
	flex-flow: column;
	gap: 2px;
}

#app-menu-module:hover .window .app-list.empty .no-apps {
	display: block;
}

#app-menu-module:hover .window .application {
	/*color: var(--color-text-light-heading);*/
	color: orange;
}

#app-menu-module:hover .window .application:hover {
	/*color: var(--color-text-light-highlight);*/
	color: yellowgreen;
}
