<div class='mkah-feature-sources form-group'>
	<div class='form-fields'>
		<label class='aligned-label' title='Feature Sources module'><i class="fas fa-puzzle-piece"></i> {{localize 'MKAh.Source.Label'}}</label>
		<input data-source='text' class='source-text' value='{{source.text}}' data-dtype='String' type='text' placeholder='{{localize 'MKAh.Source.Unknown'}}'>
	</div>
	<div class='form-fields'>
		<label class='aligned-label'><!-- Filler --></label>
		<label>Level</label>
		<input data-source='level' class='source-level' data-dtype='Number' type='number' value='{{source.level}}' min='0' max='100' step='1' placeholder='{{localize 'MKAh.Source.LevelHint'}}'>
		<label>Type</label>
		<select data-source='type' data-dtype='String' class='source-type'>
			{{selectOptions sourceTypes selected=source.type blank='n/a'}}
		</select>
	</div>
</div>
