.sheet .mkah-feature-sources {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.sheet .mkah-feature-sources .form-fields {
	width: 100%;
}

.sheet .mkah-feature-sources .form-fields label {
	width: min-content;
	flex: 0;
}

.sheet .mkah-feature-sources .form-fields .aligned-label {
	width: 200px;
	flex: 0 200px;
	text-align: left;
}

.sheet .mkah-feature-sources .form-fields input::placeholder {
	color: gray;
}

.sheet .mkah-feature-sources .form-fields input {
	border: 1px solid #7a7971;
	background: rgba(0, 0, 0, 0.05);
}

.sheet .mkah-feature-sources .form-fields input:disabled {
	opacity: 0.6;
}
