<form autocomplete='off'>
	<h2>Config</h2>
	<div class='cr'>
		<div class='flexrow'>
			<input id='mkah-party-exp-cr-calculator-abstract-xp' name='abstract-xp' data-dtype='Boolean' type='checkbox' {{checked abstractXP}}>
			<label for='mkah-party-exp-cr-calculator-abstract-xp'>Abstract XP</label>
		</div>
	</div>
	<h2>Piecemeal</h2>
	<div class='levels'>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-base'>Base CR</label>
		<select name='base-cr' data-dtype='Number'>
			{{#select piecemeal.base~}}
			<option data-dtype='Number' value='-100'>n/a</option>
			{{#each crArray as |cr|~}}
			<option value='{{cr.value}}'>{{cr.label}}</option>
			{{~/each}}
			{{~/select}}
		</select>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-racial'>Racial HD</label>
		<input id='mkah-party-exp-cr-calculator-abstract-xp-racial' name='racial' data-dtype='Number' type='number' min='0' max='25' step='1' value='{{piecemeal.hd}}' disabled>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-pc'>PC Class</label>
		<input id='mkah-party-exp-cr-calculator-abstract-xp-pc' name='pc-class' data-dtype='Number' type='number' min='0' max='25' step='1' value='{{piecemeal.pc}}'>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-key-class'>Key class</label>
		<input id='mkah-party-exp-cr-calculator-abstract-xp-key-class' name='key-class' data-dtype='Boolean' type='checkbox' {{checked piecemeal.key}}>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-npx'>NPC Class</label>
		<input id='mkah-party-exp-cr-calculator-abstract-xp-npc' name='npc-class' data-dtype='Number' type='number' min='0' max='25' step='1' value='{{piecemeal.npc}}'>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-gear'>Gear</label>
		<select id='mkah-party-exp-cr-calculator-abstract-xp-gear' name='gear' data-dtype='Number' value='{{piecemeal.gear}}'>
			{{#select piecemeal.gear}}
			<option value='0'>Appropriate</option>
			<option value='-1'>Missing necessary gear</option>
			<option value='1'>Overgeared (e.g. NPC with PC gear)</option>
			{{/select}}
		</select>
		<label for='mkah-party-exp-cr-calculator-abstract-xp-env'>Environment</label>
		<select id='mkah-party-exp-cr-calculator-abstract-xp-env' name='env' data-dtype='Number' value='{{piecemeal.env}}'>
			{{#select piecemeal.env}}
			<option value='0'>Unremarkable</option>
			<option value='1'>Unfavorable for PCs</option>
			<option value='-1'>Favorable for PCs</option>
			{{/select}}
		</select>
		<label>Other</label>
		<input name='other' type='number' data-dtype='Number' step='1' value='{{piecemeal.other}}'>
		<label>Final CR</label>
		<input type='text' name='final-cr' data-dtype='Number' value='{{lookup crMap finalCR}}' readonly>
	</div>
	<h2>Experience</h2>
	<div class='xp'>
		<input name='xp' value='{{xp}}' readonly>
		<hr>
		<button data-action='save'>Save</button>
	</div>
</form>
