<form autocomplete='off' class='{{#if ready}}ready{{/if}}'>
	<div class='experience'>
		{{#if members.length}}
		<div class='bar'>
			<meter id='mkah-party-experience-meter' class='progress' min='0' max='{{highest.delta}}' value='{{highest.progress}}'></meter>
			<label for='mkah-party-experience-meter'>{{highest.pct}}%</label>
		</div>
		<div class='statistics'>
			<label>Current</label>
			<input value='{{highest.exp}}' readonly>
			<label>Next</label>
			<input value='{{highest.leveling.next}}' readonly>
			<label>Delta</label>
			<input value='{{highest.delta}}' readonly>
			<label>Missing</label>
			<input value='{{highest.missing}}' readonly>
		</div>
		{{/if}}
	</div>
	<hr>
	<div class='actors'>
		<ul class='actor-list'>
			<li class='header'>
				<h4>&nbsp;</h4>
				<h4>Name</h4>
				<h4>Lvl</h4>
				<h4>Exp</h4>
				<h4>Owner</h4>
				<h4>Actions</h4>
			</li>
			{{#if members.length~}}
			{{#each members~}}
			<li data-actor-id='{{id}}' class='{{#if xpMismatch}}mismatched-experience{{/if}} {{#if ready}}ready{{/if}} {{#if (eq @root.highest.actor.id id)}}highest{{/if}}'>
				<img class='portrait' src='{{img}}'>
				<h4 class='name' title='ID: {{id}}'>{{name}}</h4>
				<h4 class='level'>{{#if actor.isOwner}}{{level}}{{else}}–{{/if}}</h4>
				<h4 class='experience'>{{#if actor.isOwner}}{{exp}}{{else}}–{{/if}}</h4>
				<h4 class='owner'>{{#if (and actor.isOwner owner)}}{{owner.name}}{{else}}n/a{{/if}}</h4>
				<span class='actions'>
					{{~#if editable}}<action data-action='delete'><i class="fas fa-trash-alt"></i></action>{{/if~}}
				</span>
			</li>
			{{~/each}}
			{{~else~}}
			<li><h3 class='col-span-4'>No actors; drag & drop them here.</h3></li>
			{{~/if}}
		</ul>
	</div>
	<hr>
	<div class='buttons'>
		{{~#if editable~}}
		{{#if members.length~}}
		<button data-action='calculate-cr' title='Calculate exp from CR or levels' disabled><i class="fas fa-calculator"></i></button>
		<input name='add-xp' value='{{lastAddXP}}' step='1' type='number' data-dtype='Number'>
		<button data-action='add-xp'>Add Experience</button>

		<span></span>
		<input name='set-xp' value='{{highest.exp}}' step='1' type='number' data-dtype='Number'>
		<button data-action='set-xp'>Set Experience</button>
		{{~/if}}
		{{~/if~}}
	</div>
</form>
