<div class="pf1-xp-monitor">
	<span class="prelude">{{localize 'ExpMonitor.Label'}}</span>&nbsp;
  {{#if (ne delta 0)}}
		<span class="change" data-tooltip="{{localize 'ExpMonitor.UntilNext' value=neededXp}}">
      {{numberFormat delta sign=true}}
    </span>
    {{#if (lte neededXP 0)}}
		<br>
    {{localize 'ExpMonitor.LevelReady'}}
    {{/if}}
  {{else}}
	<span class="change">̣{{localize 'ExpMonitor.NoChange'}}</span>&nbsp;
  <span class="hint">{{localize 'ExpMonitor.NoChangeHint'}}</span>
  {{/if}}
</div>
