.chat-message.pf1-xp-monitor {
	background: unset;
	background-color: #998adb;
	border-color: #c69aff;
	color: black;
	padding: 3px;

	&.whisper {
		background-color: #a19bbb;
		border-color: #d9bbff;
		padding: 3px;
	}

	& .message-header {
		color: var(--color-text-dark-header);
		line-height: unset;
	}

	& .hint {
		color: var(--color-text-dark-secondary);

		&::before {
			content: "(";
		}
		&::after {
			content: ")";
		}
	}
}
