.app.sheet.wop form header {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.3em;
}

.app.sheet.wop form header .tradition > label {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.3em;
	align-items: center;
}

.app.sheet.wop form header .identity {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5em;
}

.app.sheet.wop form header .identity img {
	flex: 0 3em;
	height: 3em;
}

.app.sheet.wop form header .identity h1 {
	flex: 1;
}

.app.sheet.wop.caster form header .details {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
}

.app.sheet.wop.caster form header .details > .detail {
	display: flex;
	flex-flow: row nowrap;
	gap: 3px;
	align-items: center;

	flex: 1 200px;
	min-width: 200px;
}

.app.sheet.wop.caster form header .details > .detail > span {
	flex: 1;
}

.app.sheet.wop.caster form header .details > .detail > input {
	flex: 3;
}

.app.sheet.wop form {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
}

.app.sheet.wop form section {
	display: flex;
	flex: 0;
	flex-flow: column nowrap;
	gap: 0.5em;
}

.app.sheet.wop form section h3 {
	display: inline-flex;
	margin: 0;
}

.app.sheet.wop form section h3 > span {
	flex: 1;
	display: inline-flex;
	gap: 0.3em;
}

.app.sheet.wop form .item-count {
	font-size: var(--font-size-11);
}

.app.sheet.wop form .item-count .overloaded {
	color: red;
}

.app.sheet.wop form section h3 > a.action {
	flex: 0;
	white-space: nowrap;
	font-size: var(--font-size-11);
}

.app.sheet.wop form a.action > i {
	pointer-events: none;
}

.app.sheet.wop form :is(.abilities,.attributes,.magics) {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
}

.app.sheet.wop form :is(.abilities,.attributes,.magics) :is(.ability,.attribute,.magic) {
	flex: 1;
	display: flex;
	gap: 3px;
	align-items: center;
}

.app.sheet.wop form :is(.abilities,.attributes,.magics) :is(.ability,.attribute,.magic) label {
	font-weight: bold;
}

.app.sheet.wop form :is(.abilities,.attributes,.magics) :is(.ability,.attribute,.magic) .total {
	font-size: var(--font-size-18);
	font-weight: bold;
}

.app.sheet.wop form .abilities .ability .mod {
	font-size: var(--font-size-13);
	align-self: flex-start;
}

.app.sheet.wop form :is(.abilities,.attributes,.magics) :is(.ability,.attribute,.magic) input {
	width: 3em;
	text-align: center;
}

.app.sheet.wop .casting {
	border: 1px solid #999;
	border-radius: 0.3em;
	padding: 0.2em 0.3em;
	background-color: rgba(0,0,0,0.05);
}

.app.sheet.wop .casting .base-dc {
	background-color: rgba(255,255,255,0.2);
	padding: 0.2em 0.5em;
	border: 1px solid #999;
}

.app.sheet.wop form :is(.notes,.description) {
	flex: 1 2em;
	gap: 3px;
}

.app.sheet.wop form .notes h2 {
	margin: 0;
}

.app.sheet.wop form :is(.notes,.description) .editor {
	border: 1px solid #ccc;
	border-radius: 0.5em;
	flex: 1;
	padding: 0.2em 0.5em;
	font-size: var(--font-size-14);
	min-height: 6em;
}

.app.sheet.wop form input::placeholder {
	opacity: 0.6;
}

.app.sheet.wop form :is(.words,.spells) {
	flex: 3;
}

.app.sheet.wop form .item-list {
	list-style: none;
	margin: 0;
	padding: 0 0.5em;

	display: flex;
	flex-flow: column nowrap;
	gap: 3px;
}

.app.sheet.wop form .item-list .item {
	display: flex;
	gap: 0.3em;
	align-items: center;
}

.app.sheet.wop form .item-list .item:hover {
	background-color: rgba(0,0,0,0.05);
}

.app.sheet.wop form .item-list .item img {
	flex: 0 24px;
	width: 24px;
	height: 24px;
}

.app.sheet.wop form .item-list .item .name {
	flex: 1;
}

.app.sheet.wop form .item-list .item .type {
	flex: 0 6em;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	background-color: rgba(0,0,0,0.1);
	padding: 0 0.3em;
}

.app.sheet.wop form .item-list .item .count {
	flex:0 1.7em;
	text-align: right;
}

.app.sheet.wop form .item-list .item :is(.burden,.length,.dc) {
	flex: 0 3em;
	text-align: center;
	border: 1px solid #999;
	border-radius: 0.3em;
}

.app.sheet.wop form .item-list .item .burden {
	background-color: rgba(255,0,0,0.05);
}

.app.sheet.wop form .item-list .item .length {
	background-color: rgba(255,200,55,0.1);
}

.app.sheet.wop form .item-list .item .dc {
	background-color: rgba(255,0,0,0.25);
	font-weight: bold;
}


.app.sheet.wop form .item-list .item .controls {
	display:flex;
	gap: 0.3em;
	flex: 0;
	white-space: nowrap;
}

.app.sheet.wop.spell-word {
	min-height: 360px;
	min-width: 420px;
}

.app.sheet.wop.word-spell {
	min-width: 460px;
	min-height: 360px;
}

.app.sheet.wop form .details input {
	width: 4em;
	text-align: center;
}

.app.sheet.wop form .details {
	display: flex;
	flex-flow: row wrap;
}

.app.sheet.wop form .details h3 {
	flex: 1 100%;
}

.chat-message .alt-words-of-power {
	white-space: initial;
}

.chat-message .alt-words-of-power.item-list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-flow: column nowrap;
	gap: 3px;
}

.chat-message .alt-words-of-power.item-list :is(.item.word,.detail) {
	display: flex;
	flex-flow: row nowrap;
	gap: 3px;
	align-items: center;
}

.chat-message .alt-words-of-power.item-list .name {
	flex: 1;
}

.chat-message .alt-words-of-power.item-list .type {
	flex: 0 6em;
	font-size: var(--font-size-11);
	border-radius: 0.3em;
	background-color: rgba(0,0,0,0.05);
	padding: 0 0.2em;
}

.chat-message .alt-words-of-power.item-list .count {

}
.chat-message .alt-words-of-power.item-list :is(.burden,.dc) {
	flex: 0 2em;
	text-align: center;
	border: 1px solid #999;
	border-radius: 0.3em;	
}

.chat-message .alt-words-of-power.description {
	border: 1px solid #999;
	border-radius: 0.3em;
	padding: 0 0.3em;
	margin-bottom: 0.5em;
	background-color: rgba(0,0,0,0.05);	
}
