.app.sheet.item .pack-sourcing {
	flex: 0;
}

.app.sheet.item .pack-sourcing label {
	align-self: start;
}

.app.sheet.item .pack-sourcing .pack-source,
.app.sheet.item .pack-sourcing .items-source {
	flex: 1 100%;
}

.app.sheet.item .pack-sourcing .source {
	display: flex;
	gap: 0.3em;
}

.app.sheet.item .pack-sourcing .image {
	width: 24px;
	height: 24px;
}

.app.sheet.item .pack-sourcing .name {
	font-weight: bold;
}

.app.sheet.item .pack-sourcing button.delete-source-id {
	flex: 1 100%;
}
