.actor.sheet .tab.spellbook .spell-ranges {
	flex: 0;
	gap: 3px;
	margin: 0.3em;
	padding: 0 0.5em;
	border: 1px solid #b8bfc3;
	border-radius: 0.5em;
	align-items: center;
	flex-flow: nowrap;

	width: min-content;
	align-self: center;
}

.actor.sheet .tab.spellbook .spell-ranges label {
	flex: 0 6em;
	padding: 0.1em 0.5em;
	font-weight: bold;
}

.actor.sheet .tab.spellbook .spell-ranges .range {
	flex: 0 4em;
	text-align: center;
	white-space: nowrap;
}

.actor.sheet .tab.spellbook .spell-ranges .range.exact {
	background-color: #5abdd124;
	border-radius: 0.5em;
	white-space: nowrap;
	font-weight: bold;
	padding: 0 0.5em;
}

.actor.sheet .tab.spellbook .spell-ranges .range.cells {
	font-size: var(--font-size-11, 8pt);
}
