.sheet.window-app .link-drag-mark {
	position: absolute;
	bottom: 0;
	left: -1px;

	width: 20px;
	height: 20px;

  background: #444;
	color: var(--color-text-light-2);

	display: flex;
  align-items: center;
  justify-content: center;

	border-top-right-radius: 5px;

	cursor: grab;
}

.sheet.window-app .link-drag-mark > i.fa-fw {
	flex: 0 1.25em;
	pointer-events: none;
}

.sheet.window-app .link-drag-mark:hover {
	text-shadow: 0 0 3px gold;
}

/* fix drag marker being positioned wrong on journal pages */
.app.journal-sheet.journal-entry .journal-entry-content {
	position: relative;
}

.app.window-app.minimized .link-drag-mark {
	display: none;
	pointer-events: none;
}
