a.mmm-text-enricher {
	border: 1px solid var(--color-border-dark-tertiary);
	border-radius: 0.5em;
	padding: 0 3px;

	background-color: #e3dcca;
}

a.mmm-text-enricher.value-not-found,
a.mmm-text-enricher.document-not-found {
	background-color: hsl(350deg 35% 87%);
	color: darkred;
}
