#please-wait {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	top: calc(30% - 7em);
	z-index: -100;
	pointer-events: none;

	background: rgb(58, 9, 9);
	color: rgb(255, 230, 197);
	text-shadow: 0 0 15px goldenrod;

	justify-content: center;
	align-items: center;
	text-align: center;

	opacity: 0;
}

#please-wait,
#please-wait div,
#please-wait h3 {
	transition: all 700ms ease-in;
}

#please-wait div.done {
	opacity: 0;
}

#please-wait h3 {
	font-size: 16pt;
	margin: 0.5em;
}

#please-wait.active-halt,
#please-wait.fading {
	z-index: 1000;
}

#please-wait.active-halt {
	opacity: 1;
}
