.app.sync-dialog[data-appid] form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.app.sync-dialog[data-appid] form select {
	width: 100%;
}

.app.sync-dialog[data-appid] form .sync-settings-content > .row.header,
.app.sync-dialog[data-appid] form .sync-settings-list {
	display: grid;
	grid-template-columns: 2rem 1fr 2fr;
	grid-template-rows: min-content;
	gap: 0;
}

.app.sync-dialog[data-appid] form .sync-settings-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.app.sync-dialog[data-appid] form .sync-settings-list > .row {
	display: contents;
}

.app.sync-dialog[data-appid]
	form
	.sync-settings-list
	> .row:not(.header):hover
	> .cell {
	background-color: #ffb10047;
}

.app.sync-dialog[data-appid] form .sync-settings-content .row > .cell {
	padding: 0.1rem 0.3rem;
	display: inline-flex;
	align-items: center;
}

.app.sync-dialog[data-appid] form .sync-settings-content .row > .cell.key {
	white-space: nowrap;
}

.app.sync-dialog[data-appid] form .sync-settings-content .header > .cell {
	background-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
}

.app.sync-dialog[data-appid]
	form
	.sync-settings-content
	.header
	> .cell
	+ .cell {
	border-left: 2px solid #ccc;
}

.app.sync-dialog[data-appid]
	form
	.sync-settings-content
	.row:not(.header)
	> .cell:last-child {
	border-left: 2px solid hsl(33deg 36% 70% / 25%);
}

.app.sync-dialog[data-appid] form .buttons {
}

.app.dialog.sync-dialog[data-appid] form {
	margin-bottom: 0.5rem;
}

.app.dialog.sync-dialog[data-appid] {
	transition: filter 200ms ease;
}

.app.dialog.sync-dialog[data-appid].sync-disabled {
	filter: grayscale(0.7);
}
