<form autocomplete='off'>
	<header>
		{{!-- CATEGORY --}}
		<select name='category'>
			{{#select category}}
			{{#each categories}}
			<option value='{{id}}'>{{title}}</option>
			{{/each}}
			{{/select}}
		</select>
	</header>

	{{!-- SETTINGS --}}
	<div class='sync-settings-content'>
		<div class='row header'>
			<div class='checkbox cell'><input type='checkbox' class='select-all' title='Select All'></input></div>
			<label class='cell'>ID</label>
			<label class='cell'>Label</label>
		</div>

		<ul class='sync-settings-list'>
			{{#each settings}}
			<li class='row'>
				<div class='checkbox cell'><input class='setting' type='checkbox' name='settings.{{key}}' id='sync-setting-{{@root.rng}}-{{namespace}}.{{key}}'></div>
				<label class='cell key' for='sync-setting-{{@root.rng}}-{{namespace}}.{{key}}'>{{key}}</label>
				<label class='cell title' for='sync-setting-{{@root.rng}}-{{namespace}}.{{key}}'>{{localize name}}</label>
			</li>
			{{/each}}
		</ul>
	</div>

	<div class='users'>
		<!-- User selection -->
	</div>

	<footer class='buttons'>
		<button class='submit'><i class='fas fa-upload'></i> Synchronize</button>
	</footer>
</form>
