<form autocomplete='off'>
	<header>
		{{!-- CATEGORY --}}
		<small>Received synchronization data for...</small>
		<h3>{{label}}</h3>
		<small>Sender:</small>
		<h4>{{sender.name}}</h4>
	</header>

	{{!-- SETTINGS --}}
	<div class='sync-settings-content'>
		<div class='row header'>
			<div class='checkbox cell'><input type='checkbox' class='select-all' title='Select All' checked></input></div>
			<label class='cell'>ID</label>
			<label class='cell'>Label</label>
		</div>

		<ul class='sync-settings-list'>
			{{#each settings}}
			<li class='row'>
				<div class='checkbox cell'><input class='setting' type='checkbox' name='{{key}}' id='sync-setting-{{@root.rng}}-{{namespace}}.{{key}}' checked></div>
				<label class='cell key' for='sync-setting-{{@root.rng}}-{{namespace}}.{{key}}'>{{key}}</label>
				<label class='cell title' for='sync-setting-{{@root.rng}}-{{namespace}}.{{key}}'>{{localize name}}</label>
			</li>
			{{/each}}
		</ul>
	</div>

	<p class='hint'>You may need to refresh for the settings to take effect.</p>
</form>
