.actor.sheet .item-list {
	& ul.nesting-children {
		flex: 100%;
		margin: 1px 0;

		border: 2px solid #3a2c232e;
		border-top: none;
		border-right: none;
		border-bottom-left-radius: 1rem;
		padding-bottom: 1px;

		padding-left: 24px;
	}

	& ul.nesting-children .nesting-children {
		padding-right: 0;
	}

	& .nesting-children li.item {
		padding: 0;
		padding-right: 2px;
	}
}

.item.sheet .item-nesting {
	flex: 0;

	& .form-group {
		& > label {
			white-space: nowrap;
			margin: 0;
		}

		& .name {
			font-weight: bold;
			margin: 0;
		}

		& .parent {
			display: flex;
			gap: 3px;
		}

		& :is(input, .parent) {
			flex: 1 60%;
		}

		& .parent .icon {
			flex: 0 24px;
			width: 24px;
			height: 24px;
		}

		& input {
			flex: 1 60%;
			border: 1px solid #7a7971;
			background-color: rgba(0, 0, 0, 0.05);
			color: black;
		}

		& .form-fields {
			/* flex: 100%; */
			flex-flow: nowrap;
		}

		& validator {
			flex: 0 20px;
			width: 20px;
			align-self: center;
			text-align: center;
		}

		& validator .bad-icon {
			text-shadow: 0 0 2px red;
		}

		& validator .good-icon {
			text-shadow: 0 0 2px #7dd3ff;
		}

		& input:disabled {
			opacity: 0.6;
		}
	}
}

.pf1alt.actor.sheet .item-list ul.nesting-children {
	padding-right: 0;
}
