<div class='item-nesting'>
	<h3 class='form-header'><i class='fas fa-puzzle-piece'></i> {{localize 'PF1ItemNesting.Title'}}</h3>
	{{#if parent}}
	<div class='form-group'>
		<label>{{localize 'PF1ItemNesting.ParentItem'}}</label>
		<div class='form-fields'>
			<div class='parent'>
				<img class='icon' src='{{parent.img}}'>
				<label class='name'>{{parent.name}}</label>
			</div>
		</div>
	</div>
	{{/if}}
	<div class='form-group'>
		<label>{{localize 'PF1ItemNesting.ParentIdentifier'}}</label>
		<div class='form-fields'>
			<input type='text' list='{{listId}}-tags' class='item-nesting-parent by-tag'
        value='{{@root.link.tag}}' placeholder='{{#with @root.link.parent}}{{tag}}{{else}}{{localize 'PF1ItemNesting.ParentIdentifierHint'}}{{/with}}'>
      {{#if items}}
			<datalist id='{{listId}}-tags'>
			{{#each items}}{{#if tag}}<option value='{{tag}}'>{{name}}</option>{{/if}}{{/each}}
			</datalist>
      {{/if}}
			<validator class='by-tag'><i></i></validator>
		</div>
	</div>
  {{#if actor}}
	<div class='form-group'>
		<label>{{localize 'PF1ItemNesting.ParentID'}}</label>
		<div class='form-fields'>
			<input type='text' list='{{listId}}-ids' class='item-nesting-parent by-id'
        value='{{@root.link.id}}' placeholder='{{#with @root.link.parent}}{{id}}{{else}}{{localize 'PF1ItemNesting.ParentIDHint'}}{{/with}}'>
      {{#if items}}
			<datalist id='{{listId}}-ids'>
			{{#each items}}<option value='{{id}}'>{{name}}</option>{{/each}}
			</datalist>
      {{/if}}
			<validator class='by-id'><i></i></validator>
		</div>
	</div>
  {{/if}}
</div>
