:root {
	--measurement-converter-header: gold;
	--measurement-converter-underline: rosybrown;
	--measurement-converter-text: white;
	--measurement-converter-bg: hsl(28deg 7% 30% / 20%);
	--measurement-converter-header-bg: hsl(28deg 27% 74% / 40%);
	--measurement-converter-bd: black;

	--measurement-converter-bd-radius: 7px;
}

#measurement-converter {
	min-width: 240px;

	border-radius: var(--measurement-converter-bd-radius);
	border: 1px solid var(--measurement-converter-bd);
}

#measurement-converter .window-content {
	padding: 3px;
	background: var(--measurement-converter-bg);
}

#measurement-converter form {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-auto-rows: min-content;
	gap: 1px 3px;
	align-items: center;

	color: var(--measurement-converter-text);
}

#measurement-converter .window-header {
	line-height: unset;
	flex: 0 min-content;
	padding: 0 3px;
	background: var(--measurement-converter-header-bg);
	border-radius: var(--measurement-converter-bd-radius) var(--measurement-converter-bd-radius) 0 0;
}

#measurement-converter form input {
	color: greenyellow;
	/*width: 6em;*/
	text-align: right;
	text-overflow: ellipsis;

	background-color: hsl(34deg 5% 11% / 40%);
	border-color: hsl(33deg 11% 30%);
}

#measurement-converter form input.active {
	color: pink;
}

#measurement-converter form input:focus {
	background-color: hsl(34deg 5% 11% / 80%);
}

#measurement-converter form input::placeholder {
	color: skyblue
}

#measurement-converter label {
	white-space: nowrap;
}

#measurement-converter h3,
#measurement-converter h4 {
	color: var(--measurement-converter-header);
	border-bottom-color: var(--measurement-converter-underline);
	grid-column: span 3;
	margin: 0;
}
