<form autocomplete='off'>
	{{#if settings.distance}}
	<h3>{{localize 'MeasurementConverter.Distance.Title'}}</h3>
	{{#each distance}}
	{{#if show}}
	<label {{#if hint}}data-tooltip='MeasurementConverter.Distance.{{key}}Hint'{{/if}}>{{localize label}}</label>
	<input type='number' class='{{#if active}}active{{/if}}' name='distance.{{key}}' value='{{value}}' placeholder='0'>
	<label class='symbol'>{{#if noSymbol}} {{else}}{{symbol}}{{/if}}</label>
	{{/if}}
	{{/each}}
	{{/if}}

	{{#if settings.mass}}
	<h3>{{localize 'MeasurementConverter.Mass.Title'}}</h3>
	{{#each mass}}
	{{#if show}}
	<label {{#if hint}}data-tooltip='MeasurementConverter.Mass.{{key}}Hint'{{/if}}>{{localize label}}</label>
	<input type='number' class='{{#if active}}active{{/if}}' name='mass.{{key}}' value='{{value}}' placeholder='0'>
	<label class='symbol'>{{#if noSymbol}} {{else}}{{symbol}}{{/if}}</label>
	{{/if}}
	{{/each}}
	{{/if}}

	{{#if settings.volume}}
	<h3>{{localize 'MeasurementConverter.Volume.Title'}}</h3>
	{{#each volume}}
	{{#if show}}
	<label {{#if hint}}data-tooltip='MeasurementConverter.Volume.{{key}}Hint'{{/if}}>{{localize label}}</label>
	<input type='number' class='{{#if active}}active{{/if}}' name='volume.{{key}}' value='{{value}}' placeholder='0'>
	<label class='symbol'>{{#if noSymbol}} {{else}}{{symbol}}{{/if}}</label>
	{{/if}}
	{{/each}}
	{{/if}}
</form>
