#chat .chat-message.pf1-accountant {
	background: unset;
	background-color: #ffc04c;
	border-color: #c59300;
	border-width: 3px;
	padding: 3px;
}

#chat .chat-message.pf1-accountant.whisper {
	background-color: #e6c485; /*#ffd78d;*/
	border-color: orange;
	border-width: 1px;
	padding: 3px;
}
