<form autocomplete='off'>
  <ul class='user-list'>
    <li class='header'>
      <span class='name'>Name</span>
      <span class='scene'>Scene</span>
      <span class='scene-id'>ID</span>
    </li>
    {{#each users}}
    <li class='user'>
      <span class='name'>{{name}}</span>
      {{#if scene}}
      <span class='scene'>{{scene.name}}</span>
      <span class='scene-id'>{{scene.id}}</span>
      {{else}}
      <span class='scene'>–</span>
      <span class='scene-id'>–</span>
      {{/if}}
    </li>
    {{/each}}
  </ul>

  <div class='buttons'>
    <button type='button' data-action='reset'>
      <i class='fas fa-undo'></i>
      Reset User Scenes
    </button>
  </div>
</form>
