.app.scene-memory-manager {
	border-radius: 1em;
}

.app.scene-memory-manager .window-content {
	border-radius: 0 0 1em 1em;
}

.app.scene-memory-manager form .user-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.app.scene-memory-manager form ul {
	display: grid;
	grid-template-columns: 1fr 1fr minmax(8em, min-content);
	grid-auto-rows: min-content;
}

.app.scene-memory-manager form ul li {
	display: contents;
}

.app.scene-memory-manager form li .name,
.app.scene-memory-manager form li .scene {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.app.scene-memory-manager form li .name,
.app.scene-memory-manager form li .scene,
.app.scene-memory-manager form li .scene-id {
	padding: 1px 3px;
	align-self: center;
}

.app.scene-memory-manager form li .name {
}

.app.scene-memory-manager form li .scene {
}

.app.scene-memory-manager form li .scene-id {
	font-size: var(--font-size-11);
}

.app.scene-memory-manager form li.header > * {
	font-size: var(--font-size-14);
	font-weight: bold;
	background-color: rgba(0,0,0,0.15);
}
