<h3>Memorization</h3>
{{#if changes}}
{{#each spells}}
<section>
	<h4>{{header}}</h4>
	<ul class='item-list'>
		{{#each items}}
		<li class='spell item' data-uuid='{{item.uuid}}'>
			<img src='{{item.img}}'>
			<span class='name'>{{item.name}}</span>
			<span class='delta'>{{numberFormat delta sign=true}}</span>
		</li>
		{{/each}}
	</ul>
</section>
{{/each}}
{{else}}
<p class='info'>No changes</p>
{{/if}}
