.chat-message.pf1-spell-memory h3 {
	margin: 0;
}

.chat-message.pf1-spell-memory h4 {
	margin: 0;
	font-weight: bold;
}

.chat-message.pf1-spell-memory .item-list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-flow: column nowrap;
	gap: 1px;
}

.chat-message.pf1-spell-memory .item-list li.item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 3px;
}

.chat-message.pf1-spell-memory .item-list .item img {
	flex: 0 24px;
	width: 24px;
	height: 24px;
}

.chat-message.pf1-spell-memory .item-list .item .name {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chat-message.pf1-spell-memory .item-list .item .delta {
	flex: 0 3em;
	border: 1px solid var(--color-border-light-secondary);
	border-radius: 7px 0;
	text-align: center;
	font-weight: bold;
}
